[2019-02-08 01:17] tesseralis opened #1 "Portuguese (Brazil) Translation Progress"
## Maintainer List

* @cezaraugusto
* @eduardomoroni
* @fjoshuajr
* @glaucia86
* @gmsecrieru
* @halian-vilela
* @jcserracampos
* @tibuurcio
* @WendellAdriel
* @jhonmike

## For New Translators

To translate a page:

1. Check that no one else has claimed your page in the checklist and comments below.
2. Comment below with the name of the page you would like to translate. **Take only one page at a t

[2019-02-08 01:56] rafael-vitor commented on #1
**Hello World**
Hey, I'd like to help. I'll take the Hello World page on the basics section. Ok?

[2019-02-08 02:01] ericp3reira commented on #1
May I translate **Introducing JSX**? :)

[2019-02-08 02:09] httpiago commented on #1
I'll translate the **Conditional Rendering** page

[2019-02-08 02:09] mathsalmi commented on #1
I could help with “Introducing JSX”

[2019-02-08 02:11] tesseralis commented on #1
@rafael-vitor @ericp3reira @httpiago I gave you the sections you requested!

@mathsalmi could you pick another section?

@cezaraugusto @jcserracampos @WendellAdriel make sure you follow this issue and update it when people volunteer!

[2019-02-08 02:11] mathsalmi commented on #1
“Rendering elements” then?

[2019-02-08 02:14] gnuns commented on #1
Hi! I want to work on the **Home Page**

[2019-02-08 02:17] klzns commented on #1
I would like to work on "Introducing Hooks"

[2019-02-08 02:33] ifdiego commented on #1
Hey, I can help!
I would like the Components and Props section.

[2019-02-08 02:34] rafaelquintanilha commented on #1
Hello! I'd like to translate **Lifting State Up**.

[2019-02-08 02:42] glaucia86 commented on #1
I'll translate **Forms** page

[2019-02-08 02:53] welll commented on #1
Hi, I can translate `Composition vs Inheritance`

[2019-02-08 02:56] httpiago commented on #1
I can not translate the whole page, there are some parts with red text that I can not edit, so I'll go to another page: **Handling Events** and **State and Lifecycle**

[2019-02-08 02:58] tesseralis commented on #1
@httpiago what do you mean "red text I can't edit"? Please only request a page at a time. I gave you "Handling Events" for now.

[2019-02-08 03:24] tesseralis commented on #1
@httpiago Ah, we're not editing the text directly in Crowdin -- it's just a reference to make your work easier. You should do your translations directly in the source code! Either directly edit the file [here](https://github.com/reactjs/pt-BR.reactjs.org/blob/master/content/docs/handling-events.md) by clicking the pencil icon or [clone this repository](https://help.github.com/articles/cloning-a-re

[2019-02-08 03:25] cezaraugusto commented on #1
@tesseralis ok if I split this issue into each part with its own issue? my plan is to have an issue covering in checkboxes each page heading for example. this could speed up the process as it is less text to translate and so less effort from maintainers to review.

from past experience, anything bigger than 2 paragraphs can take months to finish due to work/life/motivation loss and this plan tries

[2019-02-08 03:30] glaucia86 commented on #1
I will explain about it right now in portuguese to everyone.

"Pessoal, todos aqui devem fazer um fork desse repositório e após isso, criar uma PR de acordo com a lista criada pela @tesseralis e assignar o seu nome ao lado da contribuição que realizará, juntamente com o número da PR. Quando a @tesseralis mencionou o Crowdin, foi com a intenção de vocês darem uma olhada como foi feita a tradução an

[2019-02-08 03:30] glaucia86 commented on #1
Wow.. I was thinking in the same thing right now! :)
We are conected it! :)

[2019-02-08 03:31] httpiago commented on #1
@tesseralis Ah, I had not seen any forks so I thought the translation was being sent in Crowdin. 😂
No problem now

[2019-02-08 03:32] tesseralis commented on #1
Ahh... I think I'd rather have it stay in one page, just so we can get an overall goal on the translation progress (and I'm also trying to get a progress tracker going that relies on having a whole issue for the translation).

We don't need to translate the *entire* thing before releasing the first version -- just the pages labelled "Core Pages". I don't think people have gotten dissuaded so far:

[2019-02-08 03:33] glaucia86 commented on #1
Ok

[2019-02-08 04:00] cstpk commented on #1
Hi, I'd like to translate the Conditional Rendering page :)

[2019-02-08 06:57] eduardomoroni commented on #1
@tesseralis I can translate **Home Page** and **Tutorial**.

[2019-02-08 09:21] mllustosa commented on #1
I would like to translate **Composition vs Inheritance** and **Thinking in React** for now.

[2019-02-08 09:32] telmogoncalves commented on #1
We'll have both **pt-BR** and **pt-PT**, or just **pt-BR**

[2019-02-08 09:39] jhonmike commented on #1
Hi, can I translate **Components and Props** and **State and Lifecycle** :)

[2019-02-08 09:46] WendellAdriel commented on #1
@gnuns
@klzns
@ifdiego
@rafaelquintanilha
@welll
@LucasVilela
@cstpk
@eduardomoroni
@jhonmike

I gave you the ones you claimed above! 🤘

@mllustosa the items you said were already claimed by others, can you choose other items? 😉

[2019-02-08 09:47] WendellAdriel commented on #1
@telmogoncalves this repository is only for the pt-BR translation, but if you want to, you can submit a PR on https://github.com/reactjs/reactjs.org-translation/ to create a team and a repo for the pt-PT.

[2019-02-08 09:48] renato-bohler commented on #1
I would like to translate the whole Installation section (Getting Started, Add React to a Website, Create a New React App, CDN Links) to begin with :smiley:

[2019-02-08 09:49] tesseralis commented on #1
On that note... are the variations different enough that it's important to maintain separate forks?

[2019-02-08 09:50] tesseralis commented on #1
@renato-bohler We encourage people to only take one page at a time; and also, please try to pick one of the sections listed under "Core Pages"

[2019-02-08 09:52] WendellAdriel commented on #1
@tesseralis I'm from Brazil, but I live in Portugal since 2016 and there are a lot of words that are different, but everyone here understands the Portuguese from Brazil, but I think that if someone wants to create a separated translation, maybe it's something to think about

[2019-02-08 09:53] renato-bohler commented on #1
Oh :disappointed: can I translate **API Reference > React** then?

[2019-02-08 09:54] telmogoncalves commented on #1
@WendellAdriel that was my point as well. I'm Portuguese and looking at the PRs, it does sound a little different from **pt-PT**, understandable, by different 😊

[2019-02-08 09:57] WendellAdriel commented on #1
Just assigned that to you @renato-bohler!

[2019-02-08 09:58] tesseralis commented on #1
@WendellAdriel gotcha! I know there's only one Spanish translation and I know there are *definitely* regional variations there. What do you all think? Should we keep **pt-BR** and add **pt-PT** later, or should we just have a single **pt** for now and s/você/tu later?

[2019-02-08 10:02] WendellAdriel commented on #1
@tesseralis I think that we can keep the **pt-BR** and later when we have a team to create the **pt-PT** translation we can add that

[2019-02-08 10:11] WendellAdriel opened #4 "Glossary and Style Guide"
# Style Guide

* Leave code blocks untranslated. (It is usually OK to translate comments inside them. **edit by @cezaraugusto**: also strings inside HTML/JSX can also pass but use your best judgement)
* Links to references (MDN, Wikipedia) should go to the Portuguese version.
* When referring to `React` itself, use `o React`.

# Common Translations

Suggestion on words and terms:

| Original word/

[2019-02-08 10:13] WendellAdriel commented on #1
@tesseralis I just created the first version of the Glossary #4, can you pin it? I think that I don't have the needed permissions to do so.

[2019-02-08 10:14] WendellAdriel commented on #1
Also, for now, I'll translate **Lists and Keys**

[2019-02-08 10:16] tiagohermano commented on #1
Can i get DOM Elements?

[2019-02-08 10:18] WendellAdriel commented on #1
Done @tiagohermano!!! 😉

[2019-02-08 10:20] eduardomoroni commented on #4
is `bind` one of them?

[2019-02-08 10:22] WendellAdriel commented on #4
I think that `bind` needs to be translated, something link `vincular`, do you agree with that @eduardomoroni? we can put on the suggested list

[2019-02-08 10:23] telmogoncalves commented on #1
I'll work on the **pt-PT** translations than :)

[2019-02-08 10:24] carolcodes commented on #1
I would like to translate the Installation Pages :) @tesseralis

[2019-02-08 10:27] WendellAdriel commented on #1
Like @tesseralis said above, we are encouraging people to only take one page at a time, can I assign the **Getting Started** page to you for now @carolcodes ?

[2019-02-08 10:29] carolcodes commented on #1
Yes, please :)

[2019-02-08 10:31] WendellAdriel commented on #1
Done @carolcodes!!! 😉

[2019-02-08 10:32] gustavobini commented on #1
Can I take Lifting State Up?

[2019-02-08 10:33] michellocana commented on #1
May i translate **ReactDOM**?

[2019-02-08 10:33] telmogoncalves commented on #1
@WendellAdriel how can I make sure I'll be part of the **pt-PT** team once it's available? Just keeping an eye on it?

[2019-02-08 10:34] WendellAdriel commented on #1
Done @gustavobini and @michellocana!!!

[2019-02-08 10:35] WendellAdriel commented on #1
@telmogoncalves we need to confirm with @tesseralis, but I think that you can create a PR on the https://github.com/reactjs/reactjs.org-translation/ for the pt-PT translation, adding you to the list of maintainers

[2019-02-08 10:45] telmogoncalves commented on #1
I've opened a PR for **pt-PT**, we'll wait to add more maintainers and until it makes sense to merge.

[2019-02-08 10:52] rcantuario commented on #1
Hey everyone, I would like to translate the " React.Component" section  !

[2019-02-08 10:53] WendellAdriel commented on #1
Done @rcantuario!!! 😉

[2019-02-08 11:00] eduardomoroni commented on #4
If you take a look at this translation proposal https://github.com/reactjs/pt-BR.reactjs.org/pull/3, sometimes it makes sense to not translate `bind`, because you might be referencing the `bind` method.
But we translate `bound` and translate only the past tense, then the reading can be confusing for those who don't know what `bind` means.

I don't know what is the better way to approach honestly,

[2019-02-08 11:15] WendellAdriel commented on #4
I understood the issue. I finished reading the translation proposal now and yeah, it can be confusing. I think that `bind` can be a word that we won't translate.

We can also use **os métodos de classe que não foram feito `bind`.**

I'll add that to the glossary

[2019-02-08 11:19] WendellAdriel commented on #1
Please, everyone that's already working on translations and the ones that will start now, take a look at #4 and any questions or suggestions, please use the Glossary issue to discuss!!! :wink:

[2019-02-08 11:48] glaucia86 commented on #1
In Portuguese Translation in node.js  we mantain the same time core (pt-br and pt-pt) as you can see here:

[nodejs-pt](https://github.com/nodejs/nodejs-pt)

The linguistic variations are so few with Brazilian Portuguese to Portugal.

I think we may follow the @tesseralis advice in just let this issue with pt (even to Brazilian Portuguese and Portuguese). And then if we see there will be a lot of

[2019-02-08 11:51] glaucia86 commented on #1
@WendellAdriel even be part of moderation time in pt-BR, I will help to translate a few pages. I already assigned myself.
But as we already do in Time Core Translation in nodejs.org, we just will approve a PR after two LGTM and code review?

cc: @cezaraugusto

[2019-02-08 11:55] WendellAdriel commented on #1
Oh I see, @glaucia86.
For me it's ok, I just pointed out that because living here I know that the way we write in Brazil and here in Portugal can be very different sometimes. But as I also said, they can understand the differences. But if there's a team to translate to pt-PT, I don't see any issues with that :wink:

[2019-02-08 11:55] glaucia86 commented on #4
Agree w/ @eduardomoroni many of video tutorials in portuguese teachs as 'bind'. I don't think unnecessary translate this word to portuguese.

[2019-02-08 11:57] WendellAdriel commented on #1
I agree, @glaucia86. Every PR needs to be checked by at least two diff contributors and just after LGTM (two is a good number) and code review that we can approve to merge. Until now I think that we just got one PR to review, the other is a WIP and the other one is mine, but not related to translations.

[2019-02-08 12:08] lazaroalvarenga commented on #1
Can I translate *FAQ* starting with *APIs and AJAX*

[2019-02-08 12:09] WendellAdriel commented on #4
I want your opinions on this one: the verb `log`, what do you think is the best option to translate this one? @glaucia86, @eduardomoroni?

[2019-02-08 12:10] WendellAdriel commented on #1
Done, @lazaroalvarenga!!! 😉

[2019-02-08 12:15] gabrielbs commented on #1
I can take the * Hooks at a Glance

[2019-02-08 12:17] rafaelquintanilha commented on #4
I don't think this has a good translation (mainly if you consider its etymology as a [reference to wooden logs](https://english.stackexchange.com/questions/335007/origin-of-log-to-log)). My suggestion is that we treat it as a substantive, like "adicionar ao log", "remover do log", etc.

[2019-02-08 12:17] glaucia86 commented on #1
do you know if the 'Settings' are prepare for these cases?

[2019-02-08 12:23] eduardomoroni commented on #4
I think we don't need to translate `log` as well, I remember the first time someone translated **Arcabouço** in a talk, It took me like 5min to understand that they were talking about a framework.
I someone doesn't understand log, they could easily google for it and figure out for themselves.

[2019-02-08 12:24] luizbraga commented on #1
Could I take "Test Utilities"?

[2019-02-08 12:24] WendellAdriel commented on #4
Yeah, I was thinking about that, but when we have something like "logs SOMETHING to the console". Which expression can I use to refer to that? I mean, what's the best option?

[2019-02-08 12:27] WendellAdriel commented on #1
Done @gabrielbs and @luizbraga!!! :wink:

[2019-02-08 12:29] rafaelquintanilha commented on #4
I was thinking about that when I was trying to translate _print_. Feels really weird to say _imprimir_ even if the translation is pretty accurate. Maybe we can unify both cases and say _imprimir no console_ (the least bad translation I can think of).

[2019-02-08 12:31] WendellAdriel commented on #4
Yeah, I was thinking about two options:

* escrever no console
* imprimir no console

[2019-02-08 12:38] fjoshuajr commented on #1
@WendellAdriel I would like to take _ReactDOMServer_.

@telmogoncalves Please let me know if you need help with the pt-PT, I'm from Mozambique and identify more with pt-PT than pt-BR. Depending on the number of the contributors in the pt-PT repo we could benefit from the translations from the folks here and just make a few tweaks?

[2019-02-08 12:46] WendellAdriel commented on #1
Done @fjoshuajr!!! :wink:

[2019-02-08 13:00] lhcgoncalves commented on #1
Can I take [How to contribute](https://reactjs.org/docs/how-to-contribute.html) page?

[2019-02-08 13:04] lamecksilva commented on #1
Can i take Codebase Overview page?

[2019-02-08 13:05] fjoshuajr commented on #4
I'm of the opinion that we should use 'imprimir no console'.

And what about markup? As in 'render components to static markup'.
I was thinking: 'renderizar componentes para markup estático'

[2019-02-08 13:16] italotabatinga commented on #1
I would like to help on "Render Props"

[2019-02-08 13:21] evaldosantos commented on #1
Can I take API Reference / glossary page ?

[2019-02-08 13:29] glaucia86 commented on #1
done 👍

[2019-02-08 13:30] glaucia86 commented on #1
cc: @lamecksilva
done 👍

[2019-02-08 13:31] glaucia86 commented on #1
cc: @italotabatinga

Done. 👍
Already assigned it!

[2019-02-08 13:32] vinicius98s commented on #1
Can I take the Using the State Hook?

[2019-02-08 13:32] glaucia86 commented on #1
cc: @evaldosantos

Done. 👍
Already assigned it!

[2019-02-08 13:32] telmogoncalves commented on #1
I've added you as a maintainer in the PR 👍

[2019-02-08 13:33] glaucia86 commented on #1
cc: @vinicius98s

Done. 👍
Already assigned it!

[2019-02-08 13:34] glaucia86 commented on #1
cc: @lhcgoncalves

Done. 👍
Already assigned it!

[2019-02-08 13:36] henriquejensen commented on #1
Can I take Shallow Renderer?

[2019-02-08 13:36] koka0012 commented on #1
May I take JS Environment Requirements?

[2019-02-08 13:53] thadeu commented on #1
Can I take JS Environment Requirements

[2019-02-08 13:55] WendellAdriel commented on #1
Done @henriquejensen and @koka0012!!! 😉
@thadeu, this was already claimed before, can you please choose other?

[2019-02-08 14:08] fjoshuajr commented on #4
'siblings' as well.
e.g. 'Keys used within arrays should be unique among their siblings'

Possible options:
- 'elementos irmãos'
or
- 'items irmãos'

[2019-02-08 14:16] thadeu commented on #1
so, I take Rules of Hooks to translate

[2019-02-08 14:22] cezaraugusto commented on #4
words that are also method names such as "bind", "call", "apply" should be translated along the original inside parenthesis such as `... conectar (bind)` or similar.

hard to tell without context but as PRs start to come using these terms we can refine the glossary

[2019-02-08 14:25] cezaraugusto commented on #4
also applies for "state" for example i.e. "mudança de estado (state)". it's important to educate non-English readers about the word meaning without losing context

[2019-02-08 14:32] fjoshuajr commented on #4
Yeah, I liked this idea.

[2019-02-08 14:35] glaucia86 commented on #4
Agree! Do not need a translation to `log` word

[2019-02-08 14:36] glaucia86 commented on #4
I'll include `log` as a word unnecessary to translate

[2019-02-08 14:44] cezaraugusto commented on #4
not sure if it was mentioned somewhere but we should consider not translating code blocks (comments allowed). I'm better if we do not but don't have a strong opinion. what do you all think?

[2019-02-08 14:46] WendellAdriel commented on #4
It's the first item on the issue @cezaraugusto!!! :wink:

[2019-02-08 14:51] cezaraugusto commented on #4
lol thanks @WendellAdriel

[2019-02-08 14:51] WendellAdriel commented on #4
So, when translating something that relates to the `React` word, we need to define here a standard and stick to it, should we use:

* React
* a React
* o React

After defined, we need to include that on the Style Guide above.

cc: @glaucia86 @cezaraugusto @fjoshuajr

[2019-02-08 14:51] cezaraugusto commented on #4
"o React" sounds good

[2019-02-08 14:52] WeslleyNasRocha commented on #1
my i take the Using the Effect Hook

[2019-02-08 14:53] WendellAdriel commented on #1
Done @thadeu and @WeslleyNasRocha!!! :wink:

[2019-02-08 15:06] fjoshuajr commented on #4
* o React

[2019-02-08 15:08] WendellAdriel commented on #4
Great, I'll push this to the Style Guide and also fix my own translations, LOL!!! 🤣🤣🤣

[2019-02-08 15:15] fmoliveira commented on #1
Hi, can I take **Error Boundaries**?

[2019-02-08 15:19] ukita commented on #1
Hi, can I work on *Add React to a Website*? 👋

[2019-02-08 15:25] WendellAdriel commented on #1
Done @fmoliveira and @ukita!!! 😉

[2019-02-08 15:46] thadeu commented on #4
Effect as well?

[2019-02-08 15:53] WeslleyNasRocha commented on #4
@thadeu im using effects and side effects

[2019-02-08 15:54] WendellAdriel commented on #4
I don't see any cases that we can't translate effect, I think that's a common word

[2019-02-08 15:54] victorfsf commented on #1
Hi! Can I take `Higher-Order Components`?

[2019-02-08 15:57] WeslleyNasRocha commented on #4
@WendellAdriel something like this

[2019-02-08 15:58] rafaelquintanilha commented on #4
If you consider that "side effects" come from the concept of idempotence (idempotência), I guess "efeitos colaterais" is applicable.

[2019-02-08 16:03] cezaraugusto commented on #1
@victorfsf assigned 👍

[2019-02-08 16:10] murtinha commented on #1
can I take `JSX In Depth`?

[2019-02-08 16:10] WeslleyNasRocha commented on #4
Huum, I thought that because its a common word like state and such

[2019-02-08 16:13] fjoshuajr commented on #1
Assigned @murtinha 👍

[2019-02-08 16:28] ukita commented on #4
How we can translate `single-page apps`?

[2019-02-08 16:29] mrcelo commented on #1
Hi! May I take `Create a New React App`?

[2019-02-08 16:31] thadeu commented on #1
@WendellAdriel Can I work in the `Hooks API Reference` now?

[2019-02-08 16:32] GleidsonDaniel commented on #1
The page `Babel, JSX, and Build Steps` is mine! 👀
Ok?

[2019-02-08 16:33] cezaraugusto commented on #1
@mrcelo @thadeu @GleidsonDaniel assigned, thanks!

[2019-02-08 16:36] wagnermoschini commented on #1
Can I take `Code Spliting` ?

[2019-02-08 16:37] WendellAdriel commented on #1
Done @wagnermoschini!!! :wink:

[2019-02-08 16:38] gustavoaz7 commented on #1
Can I take ```Fragments``` &  ``` Typechecking With PropTypes``` ?

[2019-02-08 16:40] fjoshuajr commented on #4
I think this can't be translated because it's a proper noun and also has the acronym SPA.

[2019-02-08 16:46] WendellAdriel commented on #1
I assigned `Fragments` to you @gustavoaz7, when you finish that one, you can take another, we are encouraging people to work on one page at a time!!! :wink:

[2019-02-08 17:03] Rahmon commented on #1
Hi. Can I take Portals?

[2019-02-08 17:08] tibuurcio commented on #1
Hi there, may I take **React Without JSX**? Thank you :)

[2019-02-08 17:11] thefrontendwizard commented on #1
Hi. Can I take **Hooks FAQ**?

[2019-02-08 17:14] matheusmonte commented on #1
@tesseralis @WendellAdriel Can I take  "dont-call-proptypes"in warnings  ?

[2019-02-08 17:20] lucasdeassis commented on #1
I can take **Typechecking With PropTypes**!!

[2019-02-08 17:20] leandrocustodio commented on #1
I would like to translate **CDN Links** or another page following your priority list

[2019-02-08 17:22] negreirosleo commented on #1
I would like to translate **Passing Functions to Components**, Could you assign me? thanks!

[2019-02-08 17:22] boniattirodrigo commented on #1
Hey. I can take *Optimizing Performance*.

[2019-02-08 17:23] jancassio commented on #1
I can take *Context* page.

[2019-02-08 17:26] fjoshuajr commented on #1
Assigned @Rahmon @tibuurcio @thefrontendwizard, thanks!

[2019-02-08 17:28] rhiroyuki commented on #1
Can I be assigned to translate `FAQ > Styling and CSS`?

[2019-02-08 17:30] fjoshuajr commented on #1
Assigned @matheusmonte @lucasdeassis @leandrocustodio, thanks!

[2019-02-08 17:30] victorsilent commented on #1
I would like to translate **Reconciliation** :)

[2019-02-08 17:33] fjoshuajr commented on #1
Assigned @negreirosleo @boniattirodrigo @jancassio, thanks!

[2019-02-08 17:34] thiagoarmede commented on #1
May I translate "Reconciliation" section ? :eyes:

[2019-02-08 17:35] fjoshuajr commented on #1
Assigned @rhiroyuki @victorsilent, thanks!

[2019-02-08 17:36] fjoshuajr commented on #1
Sorry @thiagoarmede it's already taken, feel free to choose another.

[2019-02-08 17:36] thiagoarmede commented on #1
Oh boy, someone asked before, may I go for virtual dom instead?

[2019-02-08 17:38] fjoshuajr commented on #1
Assigned @thiagoarmede, thanks!

[2019-02-08 17:40] moiseshilario commented on #1
Can I be assigned to translate "Design Principles" please?

[2019-02-08 17:42] thiagoarmede commented on #1
Considering *Virtual-dom and internals* a small parts, can i translate *Static Type Checking* too? :eyes:

[2019-02-08 17:42] rafaelquintanilha commented on #4
What do you guys think about `mock`? I'd say this is a technical term and we shouldn't translate it, but if we do, the closest I can think of would be _imitação_.

[2019-02-08 17:43] thulioph commented on #1
Can I translate **Static Type Checking**? 🤔

[2019-02-08 17:43] RodolfoSilva commented on #1
I can take: `FAQ > File Structure`

[2019-02-08 17:44] fjoshuajr commented on #1
Assigned @moiseshilario, thanks!

[2019-02-08 17:49] fjoshuajr commented on #1
@thiagoarmede _When you finish that one, you can take another, we are encouraging people to work on one page at a time!!!_ 😉 cc: @WendellAdriel

If you want I can re-assign you to **Static Type Checking** only.

[2019-02-08 17:49] WendellAdriel commented on #4
I think that's better to not translate `mock`

[2019-02-08 17:51] thiagoarmede commented on #1
you can give it to @thulioph :heavy_check_mark:

[2019-02-08 17:51] fjoshuajr commented on #1
Assigned @RodolfoSilva, thanks!

[2019-02-08 17:52] vhfmag commented on #1
Can I be assigned to `Component State`? :)

[2019-02-08 17:52] negreirosleo commented on #1
Hey, the glossary link at the beginning is poining to this page, is this exepcted?

[2019-02-08 17:53] lazaroalvarenga commented on #1
I can take **Static Type Checking** =)

[2019-02-08 17:53] WendellAdriel commented on #1
Oh, thanks @negreirosleo, I'll update it!!! 😉

[2019-02-08 17:55] WendellAdriel commented on #1
Done @vhfmag and @lazaroalvarenga!!! :wink:

[2019-02-08 17:57] gutofoletto commented on #1
I can take React Without ES6 :)

[2019-02-08 17:57] thulioph commented on #1
I can take **Integrating with Other Libraries** 😄

[2019-02-08 17:58] fjoshuajr commented on #1
Assigned @thulioph, thanks!

[2019-02-08 17:59] fjoshuajr commented on #1
Assigned @gutofoletto, thanks!

[2019-02-08 18:23] mrcelo commented on #4
Does `toolchain` fit into the do-not-translate category? Or is the translation `cadeia de ferramentas` commonly used enough to merit a case?

[2019-02-08 18:23] lffg commented on #1
I can take **Strict Mode**! :)

[2019-02-08 18:24] negreirosleo commented on #4
Theres any translation sugested for `build`? like in `build steps`, I should use `etapas de build` or `etapas de construção?`

[2019-02-08 18:28] gustavoaz7 commented on #4
What about ```tags```? I would say to leave this in english

[2019-02-08 18:28] fjoshuajr commented on #1
Assigned @lffg, thanks!

[2019-02-08 18:28] arthur-souza commented on #1
I can take **Uncontrolled Components**!

[2019-02-08 18:31] mrcelo commented on #4
I'd say the usage of `build` among PT-BR devs has become ubiquitous enough to not need translation

[2019-02-08 18:31] fjoshuajr commented on #1
For new contributors, please take a moment to look at our [Glossary and Style Guide](https://github.com/reactjs/pt-BR.reactjs.org/issues/4) to keep your translations consistent across the repo. Happy Translating!

[2019-02-08 18:33] fjoshuajr commented on #1
Assigned @arthur-souza, thanks!

[2019-02-08 18:37] steniowagner commented on #1
I would love to translate **Refs and the DOM**!

[2019-02-08 18:38] thealexandrelara commented on #1
I can take **Web Components**

[2019-02-08 18:52] negreirosleo commented on #4
lifecycle should be translated?

[2019-02-08 19:24] klzns commented on #4
I think the term "function components" should be translated as "componentes função" or "componentes de função", since it's different from "functional components".

[2019-02-08 19:25] ifdiego commented on #1
I have a question.
In the Components and Props page, there is an external link to Pure Functions on Wikipedia. I didn't find a page that match it in portuguese on Wikipedia. Should I keep the same link in english? Or should I find another link?

[2019-02-08 19:26] abnersajr commented on #4
We have these two terms for components too:

- stateless components: _componentes sem estado
- stateful components componentes com estado

[2019-02-08 19:29] abnersajr commented on #4
Can add `spy` on the list too.

[2019-02-08 19:29] lucasdeassis commented on #4
are we supposed to translate `default`?

I'm trying to think of a good fit for it but neither `padrão` or `pré-definido` do seem right.

[2019-02-08 19:33] klzns commented on #4
Also it's important to notice that the term was changed from "functional component" to "function component", see here:
https://github.com/reactjs/reactjs.org/pull/863

[2019-02-08 19:36] klzns commented on #4
I would keep as `default`.

[2019-02-08 19:40] negreirosleo commented on #4
@WendellAdriel could you please add `build` to non-translated words?

[2019-02-08 20:14] GabLeme commented on #1
Hello, i would to love to work in **State and Lifecycle**.

[2019-02-08 20:15] GabLeme commented on #1
Hello, i would like to work in **State and Lifecycle**.

[2019-02-08 20:16] fjoshuajr commented on #4
What about `stream` guys?
e.g. The stream returned from this method will return a byte stream encoded in utf-8.

[2019-02-08 20:19] taynancid commented on #1
hi i would like to translante **Forwarding Refs**

[2019-02-08 20:20] negreirosleo commented on #4
I would go for `Este método retona uma bytestream codificada em utf-8`

[2019-02-08 20:20] juunegreiros commented on #1
Hi! I would like to translate *Versioning Policy*

[2019-02-08 20:22] SousaItalo commented on #1
Hi! I would love to work on the **Implementation Notes**

[2019-02-08 20:25] gmsecrieru commented on #4
Stream is a very common term in computing and holds a lot of meaning which might easily get lost during translation.

I would say that this should not be translated, my 2 cents 💰

[2019-02-08 20:27] glaucia86 commented on #1
Could you translate 'Forms' page @GabLeme ?

[2019-02-08 20:29] glaucia86 commented on #1
Done!👍
Assigned **Forwarding Refs** page

cc: @taynancid

[2019-02-08 20:30] glaucia86 commented on #1
Done!👍
Assigned **Forwarding Refs** page

cc: @juunegreiros

[2019-02-08 20:30] gmsecrieru opened #14 "Suggestion: start versioning Glossary"
I fear that #4 will eventually grow out of control and decisions/directions will be very hard to be tracked down in the long term.

We have been versioning these terms in [cezaraugusto/You-Dont-Know-JS](https://github.com/cezaraugusto/You-Dont-Know-JS/blob/portuguese-translation/WORDREFERENCE.md#jarg%C3%B5es-de-programa%C3%A7%C3%A3o) and IMO it has been a good thing since people can open issues/PR

[2019-02-08 20:31] glaucia86 commented on #1
Done!👍
Assigned **Implementation Notes** page

cc: @SousaItalo

[2019-02-08 20:34] glaucia86 opened #15 "Suggestion - Create a Discord Group about the Translation work"
I was thinking in the possibility to create a group on Discord to discuss about the Translation.

What do you think about it?

[2019-02-08 20:35] negreirosleo commented on #4
At `React  pools events`, what do you think would be a good translation for that?

[2019-02-08 20:35] glaucia86 commented on #14
I agree w/u

cc: @cezaraugusto @fjoshuajr what do you think about it?

[2019-02-08 20:38] fjoshuajr commented on #1
Assigned @steniowagner @thealexandrelara, thanks!

[2019-02-08 20:40] ifdiego commented on #4
I'm not sure how to translate `Composing Components`?

[2019-02-08 20:43] negreirosleo commented on #4
Could you give us a little more context?

[2019-02-08 20:46] ifdiego commented on #4
It's this section in Components and Props: https://reactjs.org/docs/components-and-props.html#composing-components

It's about using the same component but with differente props.

[2019-02-08 20:48] abnersajr commented on #4
Probably you can translate as "Compondo Componentes" or "Componentes
Compostos". It may depend on the context.

[2019-02-08 20:48] glaucia86 commented on #4
For me: `Etapas de Build`

[2019-02-08 20:57] steniowagner commented on #4
props or propriedades?

e.g:

To modify a child, you re-render it with new props.

Para modificar um componente filho, você terá que re-renderizá-lo com as novas **props**.

Should I use props ou propriedades?

[2019-02-08 20:58] abnersajr commented on #1
Code Editor to me please.

[2019-02-08 20:59] klzns commented on #4
I would stick with `props` since the full term (`properties`) is never used in English.

[2019-02-08 21:00] klzns commented on #4
I agree with "Compondo Componentes"

[2019-02-08 21:01] abnersajr commented on #4
I think `Etapas do Build` also is a valid translation depending on the context. Because steps are a process and these steps are towards to the Process.

[2019-02-08 21:12] matheusmonte commented on #1
Done with dont-call-prototypes, Can I get * invalid-hook-call-warning @tesseralis

[2019-02-08 21:13] renato-bohler commented on #4
What is the best way to translate this?

I'm currently thinking on

[2019-02-08 21:16] renato-bohler commented on #4
And how about "wrapped"?

[2019-02-08 21:16] abnersajr commented on #4
I'm translating the `CodeEditor` file but we have the following scenario:
`consider adding reactjs.org to the whitelist so the live code examples will work.`
In my opinion `live code` is another therm that we shouldn't translate.

[2019-02-08 21:18] klzns commented on #4
It's written `estender`

[2019-02-08 21:21] mrcelo commented on #4
Perhaps "embrulhadas"?

[2019-02-08 21:21] glaucia86 commented on #1
@matheusmonte vamos esperar pela aprovação do seu PR e depois te atribuiremos uma nova tradução para fazer. Pode ser assim?

[2019-02-08 21:22] renato-bohler commented on #4
Whoops :face_with_head_bandage:

[2019-02-08 21:23] fjoshuajr commented on #1
Assigned @abnersajr, thanks!

[2019-02-08 21:23] klzns commented on #4
Should we translate the term `lifecycle`?

Examples:

I don't think so.

[2019-02-08 21:26] klzns commented on #14
That would be helpful.

[2019-02-08 21:37] fjoshuajr commented on #4
Guys,
_Italics_ vs Plain text for non-Translatable words?

[2019-02-08 22:30] renato-bohler commented on #4
Should we translate `high order component`? Don't think so...

[2019-02-08 23:01] cezaraugusto commented on #14
@gmsecrieru sounds good, could you create a PR for that?

[2019-02-08 23:27] lamecksilva commented on #4
"codebase" = "base de código" or "código-base" ?

[2019-02-08 23:30] httpiago commented on #1
Hey, I want to translate the **Forms** page

[2019-02-08 23:44] tesseralis commented on #1
@httpiago you got forms!

[2019-02-08 23:53] mrcelo commented on #4
+1 "código-base"

[2019-02-09 00:00] lamecksilva commented on #4
"código-base" then

[2019-02-09 00:01] halian-vilela commented on #1
I would like to make some translation revision, which page is more critical?

[2019-02-09 00:13] halian-vilela commented on #4
I would go with "Compondo componentes" to keep coherence with the next section "Extraindo componentes"

[2019-02-09 00:14] andrescalco commented on #1
Hello, I can work on the `invalid-aria-prop` XD

[2019-02-09 00:20] halian-vilela commented on #4
We should check how classic authors of Functional Programming were translated. I did a quick check in Wikipedia for `Higher-order function` but there's no Portuguese translation albeit all the available translations of the article were pretty literal, the Spanish one being what could be the most accurate, something like "Função de ordem superior" --> "Componente de ordem superior".

But it's a bit

[2019-02-09 00:33] cezaraugusto commented on #1
@halian-vilela feel free to check the pull requests and add your review
@andrescalco cool, assigned

[2019-02-09 00:36] halian-vilela commented on #15
Totally agree discord is a great platform! I think github issues it not suitable for discussions with many opinions/references/suggestions about the same topic. Discord would be great for that.

[2019-02-09 00:38] GleidsonDaniel commented on #1
`LayoutFooter `
Can I get it?

[2019-02-09 00:41] andrescalco commented on #1
@[cezaraugusto](/cezaraugusto) PR on the way!

[2019-02-09 00:51] halian-vilela commented on #1
Nice! Doing that already.

Guess I'll get some of the last ramaining parts in `src`: `ErrorDecoder`

Ok?

Pretty simple, I guess I should translate just the small text inside the `return`, that's ok?

[2019-02-09 00:52] lamecksilva commented on #15
I agree

[2019-02-09 01:02] andrescalco commented on #1
I can translate `special-props` too

[2019-02-09 01:21] fmoliveira commented on #4
Hey guys,
What about **Error Boundaries**? It's not listed above but I haven't seen anybody translating it in blog posts. Should we leave it in English or translate it anyway? What do you think? 🤔

[2019-02-09 01:24] matheusmonte commented on #1
@glaucia86 meu PR #19 foi aceito, pode me indicar uma outra página para trabalhar agora?

[2019-02-09 01:54] halian-vilela commented on #1
`ErrorDecoder` is translated, please check the PR [here](https://github.com/reactjs/pt-BR.reactjs.org/pull/29). Moving on to translate another component in `src`. Which on has higher priority?

[2019-02-09 01:54] luizcieslak commented on #1
Can I translate `CodeExample`?

[2019-02-09 02:04] halian-vilela commented on #4
For the sake of searchability, I don't think this kind of terms that almost compound a noun should be translated. It will be easier in the future for a user willing to know how to use error boudaries to search for this name than for "Limites de Erro" or "Fronteiras de Erro".

I've just translated the page for "Error Decoder" but I think that's different for not being a "feature" per se, it's rathe

[2019-02-09 02:10] thealexandrelara commented on #1
My PR #27 was approved, can I translate **LayoutHeader**?

[2019-02-09 02:11] fmoliveira commented on #4
Makes total sense @halian-vilela ! Searchability is a great argument for that. 👍

Thank you!

[2019-02-09 02:12] halian-vilela commented on #1
Guys, `src` components `LayoutHeader` and `LayoutFooter` has some important link names that should be in sync with the respective page titles.

I guess we should decide over this in the Glossary or something like that, souldn't we?

[2019-02-09 02:33] thealexandrelara commented on #4
I think that it should be translated to:
Lifecycle methods = Métodos do Ciclo de Vida
Class lifecycles = Ciclos de vida da classe

[2019-02-09 02:36] eduardo-almeida commented on #1
Gostaria de contribuir tbm. Aparentemente o legacy-properties não foi pegue ainda. Porém se houver outra página mais interessante estou a disposição.
No aguardo da resposta.

[2019-02-09 05:39] halian-vilela commented on #14
Hey guys, following @gmsecrieru suggestion, I made a simple `md` document in a dedicated repository with the current state of the glossary and some additions by myself.

Please fork it and we should keep discussing the best translation for recurring terms:
https://github.com/halian-vilela/pt-BR.reactjs.glossary

Feel free to suggest any improvements on format and relevant information.

[2019-02-09 07:38] eduardomoroni commented on #14
Instead of having glossary outside this repo why don't just simply bring the glossary to here?

[2019-02-09 07:40] eduardomoroni commented on #4
is `bug === erro === error`?

[2019-02-09 08:02] eduardomoroni commented on #1
Hey @tesseralis and @WendellAdriel, A friend of mine (https://github.com/leomosiah) want to contribute as well. Could you add him in the Translation team? You can assign him to any of the section that still missing translator.

[2019-02-09 08:08] fjoshuajr commented on #14
I agree.
@halian-vilela can you create a PR for that? Something like `GLOSSARY.md` in the root folder.

[2019-02-09 08:49] eduardomoroni commented on #15
What do you think of creating a room on an existing channel? That way we can strengthen the community.
React's Doc refers to this channel (here)[https://discordapp.com/channels/102860784329052160/106239984767361024]
https://reactjs.org/tutorial/tutorial.html#help-im-stuck

I asked if there would be a problem creating a room there, then we could expand this idea to the others translation communitie

[2019-02-09 11:52] halian-vilela commented on #14
Hey guys, I made a separate repo cause I thought this should keep the same strutcture... but if that's ok, I'll bring it here right now.

[2019-02-09 11:54] eduardo-almeida commented on #1
Gostaria de contribuir tbm. Ainda há alguma página para ser traduzida?

[2019-02-09 12:41] halian-vilela commented on #4
I think semantically yes, but the context where they are used are pretty different.

**bug**: something unpredicted, not obvious or easy to spot, generally in the source code of the main codebase or associated libraries which prevents the code from running as expected

**error**: the result of a bug, which can be seem by an error message or something similar

- - -

That's raises the doubt if **bu

[2019-02-09 13:11] juliofortunato commented on #1
Hey, I want to translate **warning's legacy-properties** topic :raising_hand_man:

[2019-02-09 13:38] eduardo-almeida commented on #1
I want to translate <b>special-props</b>

[2019-02-09 14:25] jancassio commented on #4
Guys, are you really translating _Context_ (the name of Context api) to _"Contexto"_?

Since _props_ is never translated to _"propiedades"_, I don't think it makes any sense to describe _Context_ API using the pt-BR word _"Contexto"_. It could confuse readers about what's _Context_ (the api) and _"Contexto"_ at all.

[2019-02-09 14:37] taynancid commented on #4
hi people,
what do you think is the best translation for "opt-in feature"?

[2019-02-09 14:37] klzns opened #38 "Discussions in Portuguese"
Am I the only one that find it weird to be speaking English with people that speaks Portuguese?

I propose that we discuss things in issues and PRs in Portuguese. That will makes things more easy to everyone to contribute.

English-speakers-only are welcome to have discussions in English in this repo, although I think that would be a rare case, maybe when the React team reaches out to us.

[2019-02-09 14:45] klzns commented on #4
I think that better translates to "base de código".

"Código-base" would be something like "base code"?

In context it even makes more sense:

[2019-02-09 14:46] klzns commented on #4
That's a good point. I would stick with Context.

[2019-02-09 15:36] andrescalco commented on #1
Hello @eduardo-almeida, I already translated that one.

[2019-02-09 16:06] henriquejensen commented on #1
Could I take **invalid-hook-call-warning** to translate?

[2019-02-09 17:05] cezaraugusto commented on #1
@andrescalco @luizcieslak @thealexandrelara @henriquejensen assigned

@eduardo-almeida please choose one from the list without owner, that one is assigned

@halian-vilela agree re https://github.com/reactjs/pt-BR.reactjs.org/issues/1#issuecomment-462004111

@eduardomoroni he can contribute right away as other are doing. I like the idea of having more
people to help maintaining this project but I'm

[2019-02-09 17:09] cezaraugusto opened #42 "Revert internal link translations"
Some PRs got accepted including internal link translations which we later decided not to translate.

By internal links, we are referring to these:
e.g.
## Overview (#overview)

That should be translated to
## Visão Geral (#overview)

External links (MDN, Wikipedia, etc.) should link to the Portuguese version, if available.

The task here is to go through [this list](https://github.com/reactjs/pt-B

[2019-02-09 17:22] fjoshuajr commented on #42
Ok, can you be more specific on your message about what links we are talking about here? Just to avoid confusion.

[2019-02-09 17:27] victorsilent commented on #42
For sure, some links has just a english name link this one:
`[state of the art algorithms](http://grfia.dlsi.ua.es/ml/algorithms/references/editsurvey_bille.pdf)`
but could be translated without problems I guess, what do you think?

[2019-02-09 18:28] crisgon commented on #1
I want to translate the `unknown-prop` warning page.

[2019-02-09 18:29] lffg commented on #1
Please reference my [pull request](https://github.com/reactjs/pt-BR.reactjs.org/pull/25) (https://github.com/reactjs/pt-BR.reactjs.org/pull/25) in the first comment.

[2019-02-09 18:38] cezaraugusto commented on #42
yes the link names are fine to translate but not the URL they refer to. even if they're just anchors

[2019-02-09 18:39] michellocana commented on #4
it depends of the context, but maybe "funcionalidade opcional"?

[2019-02-09 18:42] michellocana commented on #4
what about

should we use "nodo contêiner" or "elemento contêiner"?

[2019-02-09 19:21] GCrispino commented on #1
I’d like to comment the “refs-must-have-owner” page, please :)

[2019-02-09 19:29] cezaraugusto commented on #1
@crisgon @GCrispino assigned
@lffg I'm adding them as they get merged. just approved yours  so let's wait for another reviewer to approve and we can merge/reference here

[2019-02-09 19:31] moiseshilario commented on #4
How do you guys would translate "userland" ?

[2019-02-09 20:00] michellocana commented on #4
If the phrase below is the one you are translating,

i would translate to something like "[...] que podem ser implementadas do lado do usuário"

[2019-02-09 20:10] halian-vilela commented on #38
Também acho um pouco estranho, mas tava seguindo o fluxo. Principalmente pq esse já era o segundo projeto de tradução que participo, e o outro tb era primordialmente em inglês. Mas também não vejo estrita necessidade.

Talvez seja uma regra da comunidade que todos os repos relacionados tenham as discussões em inglês? Não sei.

[2019-02-09 20:16] tibuurcio commented on #4
@michellocana This is entirely personal but I believe _userland_ could be translated as _comunidade_, at least in your example, since it usually refers to open-source packages written by the community.

[2019-02-09 20:24] gmsecrieru commented on #4
Hey everybody! Thanks for all the contributions and suggestions.

Defining common translations in a single issue makes it harder to keep track in the long term and also to reach consistency throughout our content.

We are starting to version control our Glossary (see #46) so if you would like to ask for suggestions on how to translate a given term please open an Issue for it. This will help to foc

[2019-02-09 20:24] #4 closed

[2019-02-09 20:26] elainemattos commented on #1
Hi, I'd like to translate **MarkdownPage**

[2019-02-09 20:33] gmsecrieru commented on #1
@elainemattos Thanks! You were assigned for this section.

[2019-02-09 20:36] ericp3reira commented on #1
PR created: https://github.com/reactjs/pt-BR.reactjs.org/pull/47

May I take those components, like `CodeExample`, `ErrorDecoder` and more?

[2019-02-09 20:36] cezaraugusto commented on #1
for reference, these are the docs that still need an owner:

* Static Type Checking
* LayoutFooter
* Blog (any post)
* Community

we also have two files for the navigation that needs translation but it's better to have them translated only after translating all other pages

at the moment we also need help with https://github.com/reactjs/pt-BR.reactjs.org/issues/42 as well

[2019-02-09 20:40] tibuurcio commented on #38
Também acredito que pelo menos pra discutir sobre como traduzir certas partes, seria melhor fazer em português 😄

Olhando pra os repositórios de espanhol, chinês e japonês que o time do React criou para validar as traduções inicialmente, a maioria das discussões parece ser feita em inglês,  com exceção de alguns comentários em issues específicos.

Pensei na ideia de criar labels e colocar nos issu

[2019-02-09 20:41] ericp3reira commented on #1
May I take **Static Type Checking**?

[2019-02-09 20:45] crisgon commented on #1
The **Community** page can be divided into **community resources** and **tools**.

[2019-02-09 21:19] cezaraugusto commented on #1
@ericp3reira @crisgon added

[2019-02-09 21:21] fjoshuajr commented on #14
The glossary is work in progress.

Closing this.

[2019-02-09 21:21] #14 closed

[2019-02-09 23:33] jhonmike commented on #1
I finished the state and lifecycle page, can I help with anything else?
Components > `LayoutFooter`

[2019-02-10 01:37] glaucia86 commented on #42
The links about the headers. For ex:

## Teste de header(#teste-de-header)

Should translate once to help the users to navigate through the documentation.

[2019-02-10 01:39] glaucia86 commented on #38
Como membro e moderadora do time, estávamos conversando a respeito. Tanto que já em alguns PR's já estou fazendo reviews e comentários usando português.

Mas, sinalizarei aos demais membros aqui.

cc: @cezaraugusto @WendellAdriel @eduardomoroni @fjoshuajr

[2019-02-10 02:11] glaucia86 commented on #42
https://github.com/reactjs/reactjs.org-translation/blob/master/style-guide.md

[2019-02-10 02:21] tibuurcio commented on #42
Maybe we should translate the style guide into our own guide to make sure everyone has easy access to it? In the meantime I submitted #58 which fixes 3 PR's I could find with links translated.

[2019-02-10 02:37] GCrispino commented on #4
Hi! Should/How should we translate:
- Warning article titles
  - e.g "Refs Must Have Owner Warning" (I translated it as "Aviso de Refs Precisam Ter um Dono")
  - Another approach would be to leave them untranslated.
  - Or meet it halfway (something like "Aviso 'Refs Must Have Owner'"
- Hyperlinks for specific sections
  - e.g: #strings-refs-outside-the-render-method in [refs-must-have-owner](http

[2019-02-10 02:39] glaucia86 commented on #42
agree @tibuurcio.

cc: guys what do you think about it?

[2019-02-10 08:23] fjoshuajr commented on #42
Yes, we could merge the universal style guide with the glossary, so we can have one file with all the rules.

[2019-02-10 10:20] raulfdm commented on #1
Hey everyone.

I'd ask how far is the progress of the translations? I'd to help especially on the hooks translation but almost everything was picked up.

Does someone want/need some help?

[2019-02-10 10:22] eduardomoroni commented on #38
Eu me sinto meio esnobe falando ingles na comunidade brasileira, mas como é uma comunidade de tradução acho de boa. Mas preferiria que fosse tudo em pt-BR :)

[2019-02-10 10:25] eduardomoroni commented on #15
Update:
![image](https://user-images.githubusercontent.com/823150/52532502-9434b480-2d26-11e9-897b-0015f30abb9b.png)

O que voces acham de usar um canal existente de uma comunidade existente?

[2019-02-10 10:45] eduardomoroni commented on #1
@raulfdm a gente precisa de ajuda para revisar as traduções que se encontram em PR.
Caso tu prefira trabalhar em tradução, eu posso te passar a seção Tutorial e tu traduz com @halian-vilela. Esta seção é grande :)

[2019-02-10 14:31] LeoMosiah commented on #1
@eduardomoroni eu posso revisar as traduções no PR. Só falar quais precisam ser revisadas. Ou posso ajudar na tradução da seção Tutorial.

[2019-02-10 14:49] tibuurcio commented on #1
@LeoMosiah Dá uma olhada nos pull requests com a label "needs review", esses são os que precisam  ser revisados. Obrigado pela disponibilidade :)

[2019-02-10 15:00] LeoMosiah commented on #1
Vou dar uma olhada @tibuurcio.

[2019-02-10 16:51] glaucia86 opened #66 "Realizando Code Review das Traduções ao vivo pelo Twitch.tv"
Pessoal! Volte e meia eu procuro fazer lives no meu canal do twitch.tv.
E como ultimamente estou envolvida nesse projeto do Code Review, estou realizando ele de maneira online e disponível para que todos possam acompanhar o nosso trabalho.

Segue o link abaixo: https://www.twitch.tv/glaucia_lemos86

Agradecemos aos esforços feitos por todos da Comunidade Técnica Brasileira. 😍

[2019-02-10 16:52] glaucia86 commented on #1
[OUT OF TOPIC]

Pessoal! Volte e meia eu procuro fazer lives no meu canal do twitch.tv.
E como ultimamente estou envolvida nesse projeto do Code Review, estou realizando ele de maneira online e disponível para que todos possam acompanhar o nosso trabalho.

Segue o link abaixo: https://www.twitch.tv/glaucia_lemos86

Agradecemos aos esforços feitos por todos da Comunidade Técnica Brasileira. 😍

[2019-02-10 20:07] cezaraugusto commented on #38
acho que a escrita em Inglês aconteceu por conta da issue original e acabou transferindo para as outras, e o processo foi se desenrolando. a escrita em Português é mais acessível para todos então acho válido 👍

[2019-02-10 21:03] thealexandrelara opened #67 "Tradução: Componente LayoutHeader"
Olá pessoal,
Resolvi trazer alguns pontos pois acredito que sejam importantes a serem discutidos antes de prosseguir com a tradução do componente LayoutHeader.

1. Existem 4 links principais no Header: Docs, Tutorial, Community e Blog. O problema é que dependendo o termo que for utilizado na tradução, pode prejudicar a exibição, por exemplo, traduzir Docs para Documentação (acréscimo de 8 caracter

[2019-02-10 21:08] glaucia86 commented on #67
@thealexandrelara vc tem o link em inglês? Só para dar uma olhada e ver o que os outros times de outros idiomas estão fazendo?

[2019-02-10 21:09] glaucia86 commented on #67
[DÚVIDA]

cc: @cezaraugusto @fjoshuajr @tibuurcio

[2019-02-10 21:10] glaucia86 commented on #38
Então resolvido pessoal. Estaremos falando em português, blz.
Fechando a issue! 👍

[2019-02-10 21:10] #38 closed

[2019-02-10 21:11] glaucia86 commented on #15
@eduardomoroni melhor ainda! Vamos abrir lá então! :)

[2019-02-10 21:12] glaucia86 commented on #15
Pode criar o grupo lá e nos passar aqui @eduardomoroni ?

[2019-02-10 21:17] tibuurcio commented on #67
Fiz uma pesquisa rápida em outros repositórios de tradução. Espanhol e Japonês que foram os utilizados como teste inicialmente ainda não traduziram essa parte. Russo já traduziu.

Jogando no tradutor eles traduziram "Docs" para o termo literal, "Documentação", enquanto que o placeholder da busca eles traduziram para "Pesquisar", sendo que esse último fica bem menor em russo.

Referências [Header.j

[2019-02-10 21:21] thealexandrelara commented on #67
Você diz o link para o caminho do repositório em inglês onde está esse componente? Seria este [aqui](https://github.com/reactjs/reactjs.org/tree/master/src/components/LayoutHeader).

[2019-02-10 21:30] fjoshuajr commented on #67
@tibuurcio acho que é o preço a pagar pela tradução 😅
Mesmo a versão em ingles nao cabe muito bem. Acho que com menu de hamburguer ficaria legal.

De qualquer forma, como tem o fade nas laterais e o scroll acho que dá para entender que tem outros links.

[2019-02-10 22:32] halian-vilela commented on #67
Eu acho Docs bem bom, pra falar a verdade. Eu acho que para um desenvolvedor, com o sem experiência, Doc é um termo bem óbvio para "Documentação".

Eu manteria.

[2019-02-10 23:54] glaucia86 commented on #67
Não acho problema colocar 'Docs' também não. Pode colocar.

[2019-02-11 00:49] fjoshuajr commented on #42
Fechando a issue à favor de #69.

[2019-02-11 00:49] #42 closed

[2019-02-11 03:13] halian-vilela commented on #15
Esse link tá vazio, é isso mesmo @glaucia86 ?

[2019-02-11 10:45] gstvribs commented on #1
Hi, can i take **LayoutFooter** ?

[2019-02-11 13:29] tibuurcio commented on #1
@gstvribs Assigned you :)

[2019-02-11 15:35] halian-vilela opened #79 "GitHub suggestion bug"
Galera, só pra compartilhar com vocês:

Pessoal que está revisando, perceberam que o suggestion do GitHub as vezes não está fazendo o highlight correto das diffs?

Estou revisando esse PR: https://github.com/reactjs/pt-BR.reactjs.org/pull/72/files

E se vc olharem, algumas linhas não aparecem a diff na sugestão. Veja a linha 64, por exemplo: https://github.com/reactjs/pt-BR.reactjs.org/pull/72/fil

[2019-02-11 16:28] glaucia86 commented on #79
Já tentou enviar esse report para o GH via twitter? @halian-vilela

[2019-02-11 16:29] glaucia86 commented on #15
Não está não. Ou será que só é habilitado para quem está como Membro do React Community? Pode ser isso também @halian-vilela

[2019-02-11 16:38] halian-vilela commented on #15
Pois é, qdo eu entro eu vejo isso:
![discord](https://user-images.githubusercontent.com/1423653/52578109-b142b380-2e0a-11e9-8d93-06159cc1accb.png)

[2019-02-11 16:39] halian-vilela commented on #79
Ainda não! Mas é uma boa ideia. Vou enviar lá mais tarde! Valeu!

Mas chegou a acontecer com vocês?

[2019-02-12 03:37] glaucia86 commented on #1
Pessoal... ficou acordado em uma das issues que iremos conversar entre nós em português. Sem necessidade de falar em inglês. nos commits que a gente precisa que vocês façam comentários em inglês.

Abraços e muito obrigada a todos! :)

[2019-02-12 11:22] GabLeme commented on #1
@glaucia86 Adoraria ajudar na tradução de Forms, muito obrigado.

[2019-02-12 11:22] GabLeme commented on #1
@glaucia86 Adoraria ajudar na tradução de Forms, muito obrigado.

[2019-02-12 11:31] raulfdm commented on #1
Pode ser a sessão de tutorial :)

[2019-02-12 11:40] halian-vilela commented on #1
Oi @raulfdm

As partes que faltaram para tradução lá na Tutorial (#68) são as linhas: 347 até 607

Acompanha a conversa lá que talvez tenha algum termo que possa te ajudar.

[2019-02-12 12:49] thealexandrelara commented on #67
Fechando a issue porque já foi concluída no PR #89 . Obrigado a todos pela participação

[2019-02-12 12:49] #67 closed

[2019-02-12 13:12] eduardomoroni commented on #1
@raulfdm se tu puder traduzir o restante da seção tutorial seria ótimo, hoje vou dedicar um tempo a revisar os PRs. Vou estar no discord caso queira trocar uma ideia sobre
https://discord.gg/Zn4bXAz

[2019-02-12 13:12] eduardomoroni commented on #15
Tentem usar este link:
https://discord.gg/Zn4bXAz

[2019-02-12 15:45] glaucia86 commented on #15
Obrigada @eduardomoroni.
Pessoal, grupo criado no discord. Fechando a issue aqui

[2019-02-12 15:45] #15 closed

[2019-02-12 15:45] glaucia86 commented on #79
@halian-vilela todavia não.

[2019-02-14 10:42] thiagoreis commented on #1
Pessoal, gostaria de contribuir com a tradução, mas verifiquei o checklist e aparentemente todas as páginas já estão atribuídas a alguém. Alguma sugestão de página para traduzir ou revisar ?

[2019-02-14 10:44] Rahmon commented on #1
@thiagoreis Se você quiser ajudar revisando, pode ir nos PRs abertos e comentar lá.

[2019-02-14 10:45] halian-vilela commented on #1
Oi Thiago, bem vindo!

Dê uma olhada na lista das PR, algumas tags explicam o status. Se tiver como "needs review" ou "needs +1" quer dizer que alguém traduziu mas precisa de revisão ainda.

É só entrar lá, ler o status da tradução e sugerir possíveis correções/adequações.

Lembre-se de checar o Glossário/Styleguide que está na raiz do projeto. Lá temos termos chave e como têm sido traduzidos ou o

[2019-02-14 10:57] thiagoreis commented on #1
Opa obrigado @Rahmon  e @halian-vilela!
vou verificar as PR.

[2019-02-14 21:13] OtacilioN commented on #1
Hey folks, I would love to help with the translations, so I am assigning me in this issue, and as soon I get back home from Campus Party Brasil, I will start to work in this

[2019-02-17 22:47] cezaraugusto opened #102 "por via de regra, palavras nao traduzidas deveriam ser postas em italico?"
no PR https://github.com/reactjs/pt-BR.reactjs.org/pull/72 houve um impasse em relacao a traducao do termo "hooks". Em geral pedimos para colocar em italico as palavras em ingles. Entretanto, palavras como "hooks", "state", "props" e outras sao do vocabulario do React, e em muitas revisoes feitas por mim eu ignorei o italico nelas.

nao tenho uma opiniao sobre se deveriamos colocar _todas_ as pala

[2019-02-17 23:36] halian-vilela commented on #102
Então, como comentei lá na própria PR. Não acho necessário.

Aplicar itálico nas palavras em inglês teria um impacto gigante no restante da tradução (além de uma necessidade de um "retro-review") já que tem uma lista crescente de termos que não devem ser traduzidos que foram definidos por consenso no Glossário.

Acho que pela natureza dessa documentação, pelo fato de ser um texto técnico, criar es

[2019-02-18 02:25] fjoshuajr commented on #102
Fiz um comentário sobre isso [aqui](https://github.com/reactjs/pt-BR.reactjs.org/pull/72#issuecomment-464550011).

A minha sugestão seria:
* Não usar itálico com o vocabulário do React (props, hooks), mas aqui temos que delimitar o que faz ou não parte desse vocabulário. Ex. render e state?

* Não/usar itálico se a palavra inglesa estiver entre parenteses. Acho que uma das discussões passadas foi

[2019-02-18 09:49] eduardomoroni commented on #102
Eu sempre penso que não deveriamos bloquear um Merge por questoes como estas. Mergea e abre uma issue para discutir.
Eu creio que se a gente colocar muitas regras, fica dificil (confuso) para o pessoal contribuir. E na verdade isto nem fará tanta diferença no resultado final.
Ou poem italico em tudo, ou não poem. Por questoes de simplicidade.

[2019-02-18 10:20] fjoshuajr commented on #102
Concordo com você @eduardomoroni, muitas regras acabam atrapalhando o processo. E debate de formatação é como espaços vs tabs 😅

@cezaraugusto como vocês usaram o itálico na tradução do You-Dont-Know-JS?

[2019-02-18 10:55] halian-vilela commented on #102
@fjoshuajr

Concordo no geral, mas não entendi exatamente a última sugestão, pode dar um contexto?

Pq se for o que entendi, acho que ela fica redundante com questão dos parênteses, que de toda forma já é o que temos sugerido: se o termo em inglês tiver uma tradução "pouco óbvia" a gente já coloca o termo original entre parênteses e sem o itálico para facilitar a compreensão.

Resumindo, eu concor

[2019-02-18 13:06] gmsecrieru commented on #102
👍  para simplificar o processo das PRs e abrir issues como follow-up para termos do glossário ou ajustes estéticos. Se pensarmos que a tradução como um todo é um projeto de longo prazo e que envolve manutenção por tempo indeterminado, esse tipo de detalhe pode ser facilmente observado (e eventualmente corrigido) por futuros leitores da documentação.

[2019-02-19 07:19] fjoshuajr commented on #102
@halian-vilela no último exemplo falo do caso event-listener = escutador de eventos vs ouvinte de eventos, que é 'dificil' traduzir.

Concordo com @gmsecrieru:

[2019-02-19 22:42] lhcgoncalves opened #111 "Problema ao clonar no Windows"
Aparentemente um dos pacotes depende da `libpng-dev`, que não está disponível no Win10.

Alguma sugestão de como contornar o problema sem trocar de OS?

[2019-02-19 23:18] halian-vilela commented on #111
Oi @lhcgoncalves !

Parece que esse problema tem sido um problema relativamente comum. Eu não uso windows, mas dando uma pesquisada consegui achar algumas possíveis resoluções, pode testar?

1. [Editando o `resolutions` do seu `package`](https://discourse.roots.io/t/error-running-yarn-pngquant-failed-to-build-windows-10/13575)
2. [Compilando nativamente com Rust](https://pngquant.org/install.html)

[2019-02-20 00:02] tesseralis commented on #1
@welll @rcantuario @fjoshuajr how are your translations going? Please let us know if you are unable to complete them so we can assign them to other folks. We're almost there!

[2019-02-20 00:11] tibuurcio opened #112 "Progresso da tradução das páginas principais"
Olá pessoal!

Como sugerido pela tesseralis no grupo do slack, podemos estar publicando a documentação em pt-BR em breve. Pra isso precisamos finalizar as páginas que estão faltando do core da documentação. Tomei a iniciativa de abrir essa issue com objetivo de marcar as pessoas que se propuseram a contribuir pra saber se elas ainda tem disponibilidade de traduzir as páginas que solicitaram. Sabem

[2019-02-20 00:13] thefrontendwizard commented on #1
I'm working on the FAQ's translation. Should be able to open a PR in a couple of days.

[2019-02-20 00:20] halian-vilela commented on #112
Caramba, como falta pouco! Vamo que vamo!! 😄 😄

[2019-02-20 00:30] halian-vilela commented on #1
Hey @thefrontendwizard

If you find that it's too long for you alone, maybe you could open the PR as WIP and divide the translation with another person. We've done that with some bigger files and it worked out pretty well, accelerating the process...

It's up to you, but perhaps it's a good idea. 😄

[2019-02-20 00:34] thefrontendwizard commented on #1
I'm halfway through it already and the largest bodies of text are already done. Just one or two more pushes and it'll be ready 😄

[2019-02-20 00:35] tesseralis commented on #1
@halian-vilela that's a good idea! I'm gonna add it to the maintainer guide.

[2019-02-20 01:11] Luanf commented on #112
Seria minha primeira contribuição, mas estou disposto a ajudar se for necessário!

[2019-02-20 09:51] vhfmag commented on #112
@tibuurcio mando o meu PR até amanhã! :)

[2019-02-20 09:52] WendellAdriel commented on #112
Não estou tendo muito tempo livre para fazer as reviews nos PRs (minha vida tá de cabeça pra baixo no momento), mas caso precisem que faça a tradução de mais páginas, podem contar comigo.

[2019-02-20 10:56] eduardomoroni commented on #112
@WendellAdriel acha melhor a gente conseguir outra pessoa para traduzir a seção? Sem problemas cara, coisas acontecem.

[2019-02-20 11:01] WendellAdriel commented on #112
@eduardomoroni não mano, eu traduzi todas as que eu estava e já foram merged com a master, eu não estou tendo como é ficar revisando os PRs nesses últimos dias!!! Mas caso alguma das pessoas acima não dêem um feedback eu posso traduzir mais seções!!! :wink:

[2019-02-20 11:10] fjoshuajr commented on #1
@tesseralis
Almost done. I'll submit the PR ASAP.

[2019-02-20 11:26] fjoshuajr commented on #112
Test Renderer, saindo do forno #116

[2019-02-20 11:32] eduardomoroni commented on #66
@glaucia86 podemos fechar esse issue?

[2019-02-20 11:33] eduardomoroni commented on #79
Nunca aconteceu comigo também. Podemos fechar este issue? @halian-vilela

[2019-02-20 12:17] halian-vilela commented on #79
Pode fechar @eduardomoroni, ainda está rolando, mas de fato tenho que enviar lá pro pessoal do GH, vou ver se faço isso hj mais tarde...

Valeu!

[2019-02-20 12:58] WeslleyNasRocha commented on #112
Estou terminando de traduzir a pagina de effects, surgiram uns contratempos essas duas semanas, mas acredito que hoje mesmo termino

[2019-02-20 14:16] #66 closed

[2019-02-20 15:38] rcantuario commented on #112
@tibuurcio Estou traduzindo.. Até sexta entrego =)

Em qua, 20 de fev de 2019 às 09:58, Weslley Nascimento Rocha <
notifications@github.com> escreveu:

--
Renan Cantuario.

[2019-02-20 15:39] rcantuario commented on #1
Hi everyone.. I'm currently translating, I will finish until friday.

Em ter, 19 de fev de 2019 às 21:02, Nat Alison <notifications@github.com>
escreveu:

--
Renan Cantuario.

[2019-02-20 17:34] WeslleyNasRocha commented on #1
first version #117

[2019-02-20 19:40] welll commented on #1
@tesseralis
Almost done. I'll submit the PR ASAP. [2]

[2019-02-20 19:40] tibuurcio commented on #112
@rcantuario @WeslleyNasRocha Massa pessoal. Obrigado pelas contribuições! Marquei o status na issue como **Em progresso** para a página dos que estão comentando aqui :)

[2019-02-20 20:36] renato-bohler commented on #112
Estou ajudando o @rcantuario a traduzir React.Component pra dar uma agilizada.

[2019-02-21 01:31] tibuurcio commented on #112
Só agora eu percebi o quão grande é a página de `React.Component` 😮

 @renato-bohler @rcantuario Se precisarem de ajuda podem abrir um PR como *work in progress* pra já ir adiantando os reviews e até se precisar de mais ajuda com a tradução.

[2019-02-21 14:07] halian-vilela opened #119 "Hooks - Padronizando a introdução"
Pessoal, bom dia!

Percebi que a introdução dos arquivos que falam sobre Hook é o mesmo texto em todos os arquivos:

Sendo assim, acho importante padronizarmos para evitar traduções diferentes em cada um dos arquivos.

Já vi algumas diferentes, então sugiro padronizarmos para a seguinte:

Se você traduziu ou ainda vai traduzir algum arquivo de Hooks, por favor atente-se sobre essa questão.

- - -

[2019-02-21 14:41] thefrontendwizard commented on #119
Arrumei na #115 👍

[2019-02-21 15:05] WeslleyNasRocha commented on #119
arrumado na #117

[2019-02-21 15:48] gabrielbs commented on #119
Boa iniciativa!
Na #80 já está assim

[2019-02-21 16:18] vinicius98s commented on #119
#108 Ajustado!

[2019-02-21 22:42] renato-bohler commented on #112
É bem grandinho @tibuurcio. Se quiser dar uma adiantada no review, eu abri um PR (https://github.com/rcantuario/pt-BR.reactjs.org/pull/1) do meu fork pro fork do @rcantuario. Traduzi mais ou menos da metade do arquivo pra frente (a partir da seção *Error Boundaries*).

Assim que ele aceitar dá pra gente abrir o PR do fork dele pra cá.

[2019-02-22 16:07] #119 closed

[2019-02-22 16:18] halian-vilela commented on #111
@lhcgoncalves

E aí? Algum progresso? Conseguiu?

Podemos fechar essa issue?

Valeu!

[2019-02-22 16:19] halian-vilela commented on #102
@cezaraugusto @fjoshuajr @eduardomoroni

Pessoal, acho que essa questão já está resolvida né? Podemos fechar a issue?

Abraços!

[2019-02-22 16:19] #79 closed

[2019-02-22 16:27] lhcgoncalves commented on #111
Não deu certo, estou tentando outras alternativas =/

Em sex, 22 de fev de 2019 às 13:18, Halian Vilela <notifications@github.com>
escreveu:

[2019-02-22 16:37] fjoshuajr commented on #102
👌

[2019-02-22 16:37] #102 closed

[2019-02-22 22:11] rodrigobacelli commented on #1
With the new Draft PR's, wouldn't it be easier to track if the one responsible for a translation to just open it before starting to translate?

Also, just blog posts are left to be assigned to someone?

[2019-02-23 02:43] tesseralis commented on #1
@rodrigobacelli yup! I'd suggest going in order of most to least recent, and I don't think we should worry about blog posts that are less than like, a year old.

[2019-02-23 03:13] tesseralis opened #123 "Brazilian Portuguese Translation Final Tasks!"
Congratulations!

You all are almost done translating the React docs into Portuguese! There are couple more errands to do before we can mark the project as "completed"

* [x] Replace "reactjs.org" to "pt-br.reactjs.org" in the following places:
  * [x] package.json
  * [x] site-constants.js
  * [x] gatsby-config.js
  * [x] MarkdownPage (the link href in "Edit this page")
* [x] Change `html.js` to

[2019-02-23 13:24] halian-vilela commented on #123
@tesseralis

Hey Nat! Will this have any immediate effect on something?

I mean, should we wait to have at least all the core pages done to make this changes or could we do it now just to make sure it will be ready?

Thanks!

[2019-02-23 16:42] tibuurcio commented on #123
Thank you for pointing our last steps @tesseralis! We're almost there indeed :tada:

I've made some of the changes on #124. I've also signed up for the DocSearch key, will comment here when we get their response.

[2019-02-24 02:30] glaucia86 commented on #123
@tesseralis awesome. We have to say thank you for all the brazilian community help. It was insane. But we will see about the topics that you listed it and then finish this issue. :)

[2019-02-24 22:19] tesseralis commented on #123
@halian-vilela hmm. I think I'd wait until a certain section (like "main concepts") is completed, and then go over all of it to see if the whole thing feels consistent.

[2019-02-24 22:26] WendellAdriel commented on #123
These items listed by @tesseralis, can I help with any of these or is there someone already doing that?

[2019-02-24 22:28] WendellAdriel commented on #123
That's awesome, sorry to be away guys, but I had some personal issues that took a lot of my free time

[2019-02-24 22:32] WendellAdriel commented on #112
Alguma novidade nas traduções???
@carolcodes
@wagnermoschini
@juunegreiros
@thiagoarmede
@lhcgoncalves
@SousaItalo
@elainemattos

[2019-02-24 23:12] lucianomlima commented on #112
Estou traduzindo já o `getting-started`. Mando o PR em poucos minutos (se não tiver problema).

[2019-02-25 05:03] glaucia86 commented on #123
@WendellAdriel you can take it this one:

[code]

[2019-02-25 10:53] WendellAdriel commented on #123
Great @glaucia86, I'll do that then!!!
Has any of the other maintainers signed up already for DocSearch?

[2019-02-25 11:16] tibuurcio commented on #123
Hi everyone. I've already signed for DocSeach. I'm awaiting for their response and will comment here. We will probably hear from them this week since I applied on the weekend. Cheers!

[2019-02-25 11:39] Luanf commented on #112
To interessado em traduzir a _Implementation Notes_.
@SousaItalo você já deu inicio a tradução?

[2019-02-25 12:10] vhfmag commented on #112
Demorei mais do que o prometido mas finalmente mandei o PR de `FAQ / Component State`: #129 :tada:

[2019-02-25 20:40] tesseralis commented on #123
@tibuurcio awesome! I just got the email from the Spanish repo after around a week. Shouldn't take too long.

[2019-02-26 12:26] michellocana commented on #123
I have a little hack i used to make suggestions in PR's, and this can be useful to spot untranslated/misspelled words:
[code]

[2019-02-26 12:43] Luanf commented on #112
Visto a falta de resposta, estarei dando inicio a tradução da Implementation Notes hoje :timer_clock:

[2019-02-26 15:49] maugravena commented on #1
Hello,
How is the translation of "Getting Started" section coming along?

[2019-02-26 16:21] jhonesgoncal commented on #112
Quero ajudar, como faço?

[2019-02-26 18:37] tibuurcio commented on #123
Got the email from DocSearch yesterday already! I'll update our code as soon as I can :)

[2019-02-26 21:49] tesseralis commented on #123
@tibuurcio I'm sorting out issues with docsearch for spanish here: https://github.com/reactjs/es.reactjs.org/pull/184#issuecomment-467345047

it may be useful to you

[2019-02-27 12:14] eduardomoroni commented on #112
@jhonesgoncal acredito que a maioria das traduções já estão rolando. Tu poderia revisar as traduções nos PR que estão abertos? As que estão com label `needs review` e `needs +1` ainda precisam de alguém para revisar.

[2019-02-28 13:38] jhonmike opened #133 "Propor melhorias nas paginas já traduzidas"
A duvida seria se já podemos ir abrindo PRs propondo melhorias nas paginas já traduzidas até o momento ou se devemos esperar a conclusão da issue: #123

Conversando no canal do slack, @halian-vilela sugeriu a criação de uma issue para discutirmos sobre o tema e também sugeriu a criação de uma label "ajuste"

[2019-02-28 14:08] jhonmike commented on #1
@maugravena progress is in this PR: #126

[2019-02-28 15:06] eduardomoroni commented on #133
Eu acho que é OK criar PRs propondo melhorias.

[2019-02-28 15:08] eduardomoroni opened #134 "Inconsistencias na página em produção."
Em https://github.com/reactjs/pt-BR.reactjs.org/issues/123 foi trazido que precisamos dar uma olhada em como a página está em geral. Pensei em criar esse issue para ir enumerando as inconsistencias e em seguidas irmos criando os PRs para consertar.

Link da documentação em PT-BR: https://pt-br.reactjs.org

[2019-02-28 15:12] eduardomoroni commented on #134
Home page:

Cabeçalho está com a palavra `Communi`
![image](https://user-images.githubusercontent.com/823150/53576189-68f9f400-3b73-11e9-8774-5a6128ad354d.png)
Versão em ingles:
![image](https://user-images.githubusercontent.com/823150/53576245-88911c80-3b73-11e9-92fa-bf971ceabb49.png)

Footer contem algums itens em ingles:
![image](https://user-images.githubusercontent.com/823150/53576279-9d6db00

[2019-02-28 15:14] eduardomoroni commented on #134
# https://pt-br.reactjs.org/docs/add-react-to-a-website.html
Side bar está em ingles:
![image](https://user-images.githubusercontent.com/823150/53576441-eb82b380-3b73-11e9-9b6e-ac56eeeac689.png)
Versao em espanhol:
![image](https://user-images.githubusercontent.com/823150/53576459-f3daee80-3b73-11e9-81e9-6d2921b3bc54.png)

[2019-02-28 15:17] eduardomoroni commented on #123
I'm pointing some items out on https://github.com/reactjs/pt-BR.reactjs.org/issues/134
I'll need some help on that as well :)

[2019-02-28 15:44] halian-vilela commented on #134
Boa iniciativa @eduardomoroni !

Navbar está sendo traduzida na PR #131 - acho que podemos fazer uma revisão relâmpago e já aprovar, isso já vai melhorar o Look'n'Feel geral da página. O que ficar faltando, a gente vai fazendo aos poucos em outras PR's o que acham?

O restante de fato temos que ir controlando.

[2019-02-28 15:49] CaiqueMOliveira commented on #1
Hi there!!

I'd like to help with **Blog (React v16.8: The One With Hooks)**

[2019-02-28 17:31] jhonmike commented on #134
@eduardomoroni e @halian-vilela fui fazer o ajuste do Menu e a tradução do Rodapé e notei que ele depende do arquivo que esta no PR #131  e docs/nav.yml, então para tentar facilitar fiz oq faltava neste PR: #135

[2019-03-01 03:05] CaiqueMOliveira commented on #1
So @welll could you assign me to translate this page #136 on task list, please.

[2019-03-01 12:02] tibuurcio commented on #1
Added you :)

[2019-03-01 12:13] CaiqueMOliveira commented on #1
@welll just to confirm, I should translate the #136 or **Blog - (React v16.8: The One With Hooks)**?

[2019-03-01 14:00] lhcgoncalves commented on #1
Finalizei a tradução de "How to contribute" (#138)

[2019-03-01 14:09] juunegreiros commented on #112
Desculpa a falta de resposta também, hoje traduzo certinho e já mando aqui!

[2019-03-01 16:04] #111 closed

[2019-03-01 17:56] welll commented on #1
@CaiqueMOliveira ,

1) I am not a maintainer, you got confused because I have added this issue on my PR description and it appeared below your comment

2) if you take a look on the top of this page, you will see @tibuurcio assigned to you this one : ` Blog - (React v16.8: The One With Hooks) (@CaiqueMOliveira)`

[2019-03-01 18:30] CaiqueMOliveira commented on #1
Yes, I've been confused, but now I'll start the translation of React v16.8: The One With Hooks.
Thanks @welll

[2019-03-03 03:34] glaucia86 commented on #134
@jhonmike dá uma olhada lá no seu PR e faz os ajustes que coloquei lá. Assim que fizer, me sinalize que aprovarei direto o seu PR, okay! :)

[2019-03-03 03:41] glaucia86 commented on #134
Peço que deem uma olhada nesse PR. Fiz a review e tem alguns ajustes a serem feitos e algumas traduções q fiquei na dúvida como devem estar. ;)

[2019-03-03 03:42] glaucia86 commented on #133
Essa issue é de acordo com a issue #134? Se sim, podemos fechar ela?

[2019-03-03 03:44] glaucia86 commented on #112
Se puder pegar. Pode. Acho que ela no momento não está podendo. Pode pegar! :)

[2019-03-03 03:45] glaucia86 commented on #112
@tibuurcio sabe se essa issue está atualizada?

[2019-03-03 03:56] lucianomlima commented on #112
Já está feito @glaucia86 (você até revisou) só esperando o @halian-vilela liberar o emerge lá ;)
To quase pegando outro item para fazer huahauha

[2019-03-03 05:14] glaucia86 commented on #112
@lucianomlima faz o seguinte: pegar essa aqui:

* [ ] MarkdownPage (@lucianomlima) **[NO PULL-REQUEST YET]**

[2019-03-03 05:16] glaucia86 commented on #112
@Luanf faz um favor, pode traduzir essa página. Colocarei o seu nome, blz?

[2019-03-03 05:18] lucianomlima commented on #112
Já estou fazendo aqui o Code-Splitting. Como estou a fim, pego MarkdownPage em seguida 😉
Acho que não vai ter muita gente disponível nessa época de carnaval.

[2019-03-03 05:18] glaucia86 commented on #112
@jhonesgoncal pode pegar a página:

 Virtual DOM and Internals? Colocarei o seu nome! ;)

[2019-03-03 05:21] glaucia86 commented on #112
blz. Só não esquece de colocar o hashtag seguido do número da PR aqui. Para que, assim que terminarmos, colocar como Done lá na #1

[2019-03-03 05:27] lucianomlima commented on #112
Aberto um PR em rascunho 😉 #140

[2019-03-03 10:42] Luanf commented on #112
@glaucia86 Obrigado!
A tradução está em progresso, vou abrir um PR rascunho em breve :smile:

[2019-03-03 14:03] jhonmike commented on #133
@glaucia86 acho q sim, vou fechar mesmo!

[2019-03-03 14:03] #133 closed

[2019-03-04 16:48] WeslleyNasRocha commented on #1
effect hooks finished #117

[2019-03-06 04:07] glaucia86 commented on #112
a sua contribuição foi aprovada! Se desejar pegar mais alguma para fazer, vamos agradecer e muito! :)

[2019-03-06 04:16] glaucia86 commented on #134
@eduardomoroni vê se agora está okay a questão do navbar. Uma vez que já aprovamos a #131. Acredito que essa issue poderá ser fechada.

[2019-03-06 04:19] glaucia86 commented on #123
@eduardomoroni about the #134 I already did a code review about the Nav bar situation and I asked to the contributor to make some changes on it! So... he did it and I already approve the contribution #131. Try to see right now @eduardomoroni if everything it's correct right now! ;)

[2019-03-06 04:29] lucianomlima commented on #112
@glaucia86  A que você me disse que podia traduzir, `MarkdownPage`, onde ela fica?
Procurei aqui nos arquivos mas só encontrei um componente.

[2019-03-06 10:42] jhonmike commented on #134
@glaucia86 o PR #131 é um conjunto com o PR #135 os dois já foram "mergeados". Acredito estar resolvido sim os itens citados acima :)

[2019-03-07 02:28] glaucia86 commented on #112
cc: @lucianomlima Seria basicamente abrir cada arquivo contido na pasta `src/components` e traduzir alguns arquivos que possuem textos.

Procure seguir o exemplo desse PR pelo que foi feito na tradução do espanhol do React

https://github.com/reactjs/es.reactjs.org/pull/164/files

[2019-03-07 02:32] lucianomlima commented on #112
Working on it! Thanks!

[2019-03-07 02:32] glaucia86 commented on #112
cc: @lucianomlima tou vendo aqui o translation bot do próprio React, já realizou a tradução. Vou te atribuir uma outra página para traduzir, pode ser?

[2019-03-07 02:33] lucianomlima commented on #112
À vontade!

[2019-03-07 02:34] glaucia86 commented on #112
Faz o seguinte.... continua nessa task do MarkDown. Só cria um PR para ela. Pois preciso atribuir um PR para essa task do Markdown. Pode ser? Cria uma PR e logo logo já aprovarei. Pode ser?

[2019-03-07 02:36] lucianomlima commented on #112
@glaucia86 um PR vazio mesmo, sem nada!?

[2019-03-07 10:44] Luanf commented on #112
Primeira versão da Implementation Notes traduzida: https://github.com/reactjs/pt-BR.reactjs.org/pull/146

[2019-03-07 13:23] eduardomoroni commented on #134
Alguns outros foram corrigidos aqui também https://github.com/reactjs/pt-BR.reactjs.org/pull/145
Vou dar mais uma olhada e ver como que ta as coisas :)

[2019-03-07 14:38] eduardomoroni commented on #134
![image](https://user-images.githubusercontent.com/823150/53964023-bf74ae80-40ee-11e9-9b2b-83587fee1284.png)

[2019-03-07 16:32] jhonmike commented on #134
opz, vou ajustar @eduardomoroni

[2019-03-07 17:25] juunegreiros commented on #112
Pessoal, acabei ficando presa numas tasks aqui e a @elainemattos pegou pra traduzir a Política de Versionamento  e subiu a PR hoje (que está nesse link [aqui](https://github.com/reactjs/pt-BR.reactjs.org/pull/148))

[2019-03-07 17:26] elainemattos commented on #1
Hi everyone, I've done the translation for Versioning Policy, it was assigned for @juunegreiros, but we've spoken and she allowed me to do it! Please review the PR and let me know is there's anything to be adjusted. Thanks!
[https://github.com/reactjs/pt-BR.reactjs.org/pull/148](url)

[2019-03-07 17:34] jhonmike commented on #1
updated issue @elainemattos

[2019-03-07 20:29] lucianomlima commented on #1
@thiagoarmede hurry up!

[2019-03-07 20:35] lucianomlima commented on #112
Alguém precisando de ajuda? Vamos terminar logo essa tradução!

[2019-03-08 02:31] jhonmike commented on #134
PR esta aqui: https://github.com/reactjs/pt-BR.reactjs.org/pull/147 já tenho duas aprovações, esperando o +1 de algum manteiner.

[2019-03-08 11:59] WeslleyNasRocha commented on #1
i guess his page passed on another translator:
https://github.com/reactjs/pt-BR.reactjs.org/issues/112#issuecomment-468990058

[2019-03-08 12:04] WeslleyNasRocha commented on #112
i will translate the virtual dom and internals, pr later today

[2019-03-08 12:05] WeslleyNasRocha commented on #1
i will translate the virtual dom and internals, pr later today

[2019-03-08 14:54] Duduzera1997 commented on #1
Hello!
I can translate Community / **Support** ?

[2019-03-08 14:57] Duduzera1997 commented on #1
Hello!
I can translate **Community** / **Support** ?

[2019-03-08 16:17] eduardomoroni commented on #134
Show de bola! Valeu galera

[2019-03-08 16:17] #134 closed

[2019-03-08 16:18] eduardomoroni commented on #123
It seems everything all right. Should mark this as done?

[2019-03-09 16:26] glaucia86 commented on #112
[] Blog [NEEDS OWNER (SEVERAL) - LOWEST PRIORITY - NO PULL-REQUEST YET]

quer ficar com essa tradução @lucianomlima ? Ela será uma contribuição contínua.

[2019-03-09 16:29] glaucia86 commented on #112
atribuído para vc @WeslleyNasRocha ! :)

[2019-03-09 16:30] glaucia86 commented on #123
![bitmoji](https://render.bitstrips.com/v2/cpanel/43533bc8-de9f-4e89-9f7d-f9a64b6254c4-51d9afb6-b666-4b20-ac39-494c4b2f62a7-v1.png?transparent=1&palette=1&width=246)

Agree w/ u @eduardomoroni. Let's finish this translation! :)

[2019-03-09 16:33] glaucia86 commented on #1
Could you?! Wow! Sure!

[2019-03-09 16:35] glaucia86 commented on #1
Já te atribui. Pode pegar essa PR :)

[2019-03-09 17:36] Luanf commented on #112
Eu acompanho a leitura do blog e ficaria feliz de contribuir na tradução dele :nerd_face:
(caso vocês precisarem de mais ajuda, claro)

[2019-03-09 19:17] lucianomlima commented on #112
@glaucia86 Adorarei poder contribuir com essa parte! E também seria ótimo ter as contribuições de Luan na tradução do blog! Só aí já são 2!

[2019-03-09 19:19] lucianomlima commented on #1
@Duduzera1997 @WeslleyNasRocha será que conseguimos finalizar essa tradução até amanhã (domingo 10/03)?
Não entendam como uma cobrança!

[2019-03-10 02:53] glaucia86 commented on #112
@Luanf e @lucianomlima vou criar uma issue amanhã para colocar vocês como membros. Uma vez que precisará de um Owner para essa página.

[2019-03-10 02:55] glaucia86 opened #150 "Inclusão de Novos Membros - React Community: Owner Blog Page"
cc: @reactjs/reactjs-org-portuguese-brazil-translation

Meninos, a página do blog, precisará de pessoas que estejam sempre traduzindo elas.
Nesse caso, 2 pessoas se mostraram super dispostas em manter essa página traduzida

* @lucianomlima
* @Luanf

Será que poderíamos incluir eles, como membros do React Community do pt-br?

O que vocês acham?

* [ ]  Blog **[NEEDS OWNER (SEVERAL) - LOWEST PRIORIT

[2019-03-10 03:11] glaucia86 commented on #150
Só uma ressalva: essa página do Blog precisará ser mantida constantemente. Ou seja, tem que colocar pessoas que de fato vão poder estar sempre traduzindo o blog. ;)

[2019-03-10 03:25] lucianomlima commented on #150
👍

[2019-03-10 09:26] eduardomoroni commented on #150
Vamo que vamo!

[2019-03-10 10:54] Luanf commented on #150
Com prazer!

[2019-03-10 12:23] jhonmike commented on #150
:clap: show

[2019-03-10 13:13] jhonmike opened #151 "Progresso de tradução do Blog"
## Blog
_Priorizar ordem cronológica descendente - Vamos tentar não deixar gaps de um documento para o outro_

- [ ] 2020-09-22-introducing-the-new-jsx-transform.md (@jhonmike)
- [x] 2020-08-10-react-v17-rc.md (@DanielObara) (#448)
- [x] 2020-02-26-react-v16.13.0.md (@jussarasoares) (#405)
- [x] 2019-11-06-building-great-user-experiences-with-concurrent-mode-and-suspense.md (@juliano-nunes) (#390)

[2019-03-10 13:18] jhonmike commented on #150
Pessoal já fiz a lista dos posts, acho q até o processo acima se concluir já podemos ir traduzindo algo hahaha

#151

[2019-03-10 14:55] Luanf commented on #151
Boa! Posso pegar o mais recente? (is-react-translated-yet)
é bom traduzirmos em ordem cronológica reversa

[2019-03-10 18:45] Duduzera1997 commented on #1
Com certeza!

[2019-03-10 19:04] Duduzera1997 commented on #112
@glaucia86 Solicitei pra traduzir a Comunidade/Suporte na outra issue, pode me atribuir por favor?

[2019-03-10 19:23] glaucia86 commented on #151
Divulgando essa issue no twitter e linkedin para atrair mais ajuda da Comunidade Técnica!
Obrigada @jhonmike :)

[2019-03-10 19:24] glaucia86 commented on #150
Perfeito. Como foi aberto a issue #151 estarei fechando essa aqui. Obrigada a todos! :)

[2019-03-10 19:24] #150 closed

[2019-03-10 19:38] Duduzera1997 opened #153 "Community / Community Resources"
Percebi que as seguintes páginas:  "**Suporte/Cursos/Exemplos/Meetups/Conferencias/Artigos/Podcasts/Vídeos/Recursos Externos**" filhas de **Comunidade** ainda não estão traduzidas, o autor da issue #106 fez parte da tradução mas foi apenas em **Tools**. No entanto, posso ficar responsável por elas?

[2019-03-10 19:48] eduardomoroni commented on #153
Acredito que sim. Manda bala.

Eu só não sei como que faço para conferir se não tem ninguém traduzindo
está parte. Mas pelo que eu lembro, ficou pra trás mesmo.

Em dom, 10 de mar de 2019 8:38 PM, Eduardo J. Nascimento <
notifications@github.com> escreveu:

[2019-03-10 21:45] Luanf commented on #151
Aberto PR rascunho com um pouco mais da metade do primeiro item da lista traduzido.
Termino assim que der :pray:
(#155)

[2019-03-10 22:28] lucianomlima commented on #153
@Duduzera1997 faz um PR para cada página, assim simplifica a revisão com menos arquivos.

[2019-03-10 23:55] Duduzera1997 commented on #153
Certo, vou traduzi-las então.

Tranquilo @lucianomlima, farei conforme solicitado.

[2019-03-10 23:55] #153 closed

[2019-03-11 16:15] WeslleyNasRocha commented on #1
#159 tai a primeira versão do DOM Virtual e Objetos Internos

[2019-03-11 19:27] tesseralis commented on #1
Congrats on finishing the core pages!
<img width="340" alt="Screen Shot 2019-03-11 at 12 21 14 PM" src="https://user-images.githubusercontent.com/1278991/54151875-17fec100-43f9-11e9-8704-f1e9bf5c4285.png">

[2019-03-12 02:57] CaiqueMOliveira commented on #151
PR aberto para a página "**The One With Hooks**" (#162).
Por favor, caso encontrem algo a ser melhorado, não existem em me avisar. ;)

[2019-03-12 12:18] leonascimento commented on #151
@jhonmike
Eu vou traduzir o [2018-09-10-introducing-the-react-profiler.md](https://github.com/reactjs/pt-BR.reactjs.org/blob/master/content/blog/2018-09-10-introducing-the-react-profiler.md) tá ok?

[2019-03-12 12:33] John-Luke commented on #151
@jhonmike Pode me dar o `2018-11-27-react-16-roadmap.md`?

[2019-03-12 14:16] DanielObara commented on #151
@jhonmike posso contribuir com o  2018-11-13-react-conf-recap.md?

[2019-03-13 00:42] felipemfp commented on #151
@jhonmike,

Posso contribuir com o `2018-10-01-create-react-app-v2.md`?

[2019-03-13 02:06] halian-vilela commented on #151
Pessoal que for chegando para traduzir, tentem manter a ordem cronológica inversa para não deixar gaps.

O próximo que puder, dar preferência para `2018-10-23-react-v-16-6.md` antes de continuar descendo.

[2019-03-14 12:26] DanielObara commented on #151
Passa pra mim essa, 2018-10-23-react-v-16-6.md.

[2019-03-15 01:34] gstvribs commented on #151
Posso ajudar com 2018-08-01-react-v-16-4-2.md

[2019-03-15 01:40] crisgon commented on #151
Posso ajudar com a `2018-03-27-update-on-async-rendering.md`

[2019-03-15 10:22] halian-vilela commented on #151
Ok! Atribuído!

[2019-03-15 10:23] halian-vilela commented on #151
@crisgon

Vc se importaria de traduzir `2018-06-07-you-probably-dont-need-derived-state.md` em vez do que sugeriu?

Creio que seria importante mantermos a ordem para não deixar gaps entre os documentos.

O que acha?

[2019-03-15 19:45] jhonmike commented on #1
I just merge the last translated page, can we mark the issue as done?

[2019-03-15 20:29] Luanf commented on #151
Semana complicadinha mas consegui subir o que faltava do #155 agora pouco.
Aceitando reviews! Vou tentar fazer algumas revisões de outros PR's durante o fim de semana, também.

Podem me passar a próxima issue a ser traduzida? talvez `2018-06-07-you-probably-dont-need-derived-state.md` se o @crisgon não se manifestar ou então a seguinte (`2018-05-23-react-v-16-4.md`)

[2019-03-15 20:37] reebr commented on #151
Gostaria de realizar a tradução do `2018-03-29-react-v-16-3.md` visto que os dois anteriores aparentemente já possui interessados:
- `2018-06-07-you-probably-dont-need-derived-state.md`: @crisgon
- `2018-05-23-react-v-16-4.md`: @Luanf

[2019-03-16 02:06] jhonmike commented on #151
@Luanf como o @crisgon não se manifestou ainda, vou te adicionar na sequência, e @reebr também ficara assim:

[code]

caso já tenham começado a tradução me avisem que eu mudo.

[2019-03-16 21:25] tesseralis commented on #1
@jhonmike yup, I think so... we already have an issue to track translating the blog, and maybe we can make another one for tracking the translation of the Community section?

[2019-03-16 21:25] #123 closed

[2019-03-17 03:46] glaucia86 commented on #1
it will be awesome if we do that.

[2019-03-17 03:48] glaucia86 commented on #112
Pessoal! Fechando essa issue aqui! A tradução já está 100% completa. Antes de mais nada, gostaria de agradecer a todos aqui pela ajuda prestada! Foi lindo tudo o que aconteceu aqui! Vocês e nós da Comunidade Técnica - são demais!

Parabéns a todos! E muito obrigada!

![bitmoji](https://render.bitstrips.com/v2/cpanel/fc3b9c9c-6208-41e0-b2cf-0ac589c263b5-51d9afb6-b666-4b20-ac39-494c4b2f62a7-v1.png?t

[2019-03-17 03:48] #112 closed

[2019-03-17 03:51] glaucia86 commented on #1
Pessoal! A tradução da documentação do Reactjs.org já está 100% completa. Antes de mais nada, gostaria de agradecer a todos aqui pela ajuda prestada! Foi lindo tudo o que aconteceu aqui! Vocês e nós da Comunidade Técnica - são demais!

Parabéns a todos! E muito obrigada!

![bitmoji](https://render.bitstrips.com/v2/cpanel/6d228887-e76d-4678-a578-a47592240081-51d9afb6-b666-4b20-ac39-494c4b2f62a7-v1.

[2019-03-19 16:10] DanielObara commented on #151
Pessoal estou tendo problemas para conseguir apagar com o backspace os conteúdos de dentro dos arquivos .md. Consigo deletar apenas com o delete, alguém tem alguma ideia do que possa ser?

[2019-03-19 16:13] WendellAdriel commented on #151
@DanielObara se estiver usando o VS Code, verifique no canto inferior direito se o arquivo está associado corretamente à extensão markdown, se estiver, pode ser conflito de extensão, mas comigo tinha acontecido algo assim e por algum motivo, meu VS Code tinha deixado de associar os arquivos md com a extensão Markdown e estava gerando erros

[2019-03-20 14:01] DanielObara commented on #151
@WendellAdriel está

@WendellAdriel  está referenciado sim.. acho que na verdade o que acontece é algum delay muito ferrado que demora uns 15 seg pra deletar... e não é só no meu pc, em outros tbm.

[2019-03-20 14:02] DanielObara commented on #151
@WendellAdriel  está referenciado sim, acontece é que ocorre um delay ferrado de uns 10 seg pra apagar após o comando do backspace. Já testei em outro pc e ocorre a mesma coisa.

[2019-03-20 17:28] DanielObara commented on #151
Efetuado PR #179

[2019-03-21 10:46] MizaelMelo commented on #151
Fala, galera! Posso pegar o '2018-03-29-react-v-16-3.md' para traduzir?

[2019-03-21 18:49] felipemfp commented on #151
Posso pegar o `2018-03-27-update-on-async-rendering.md`?

[2019-03-23 20:22] Luanf commented on #151
PR do `2018-06-07-you-probably-dont-need-derived-state.md` aberto: #183
Me passa o `2018-03-01-sneak-peek-beyond-react-16.md` fazendo favor? :smile:

[2019-03-25 18:44] gstvribs commented on #151
Pessoal, alguém consegue me passar o `2017-12-15-improving-the-repository-infrastructure.md` ?

[2019-03-26 17:55] netochaves commented on #151
@jhonmike pode me passar o 2017-12-07-introducing-the-react-rfc-process.md ?

[2019-03-26 20:10] halian-vilela commented on #151
@netochaves

Tá lá! Qdo abrir a PR nos avise! Valeu!

[2019-03-27 13:03] PHPINHEIRO commented on #1
Pessoal, primeiramente eu gostaria de parabenizar pela iniciativa que tiveram, eh muito interessante para pessoas q n tem o domínio do inglês e querem aprender uma ferramenta nova, mas a doc da mesma só tem em imgles. Novamente parabéns a vocês. Aproveitando gostaria de perguntar se vocês irão extender para a doc do react native, caso sim, como faço pra contribuir?

[2019-03-28 01:34] CaiqueMOliveira commented on #1
Hey guys!!

I'd like to translate the `2017-11-28-react-v16.2.0-fragment-support.md`.
Someone could assign me please ;)

[2019-03-29 10:45] jhonmike commented on #1
@CaiqueMOliveira consegue comentar na issue: https://github.com/reactjs/pt-BR.reactjs.org/issues/151

[2019-03-29 11:20] CaiqueMOliveira commented on #151
Hey guys!!

I'd like to translate the `2017-11-28-react-v16.2.0-fragment-support.md`.
Could anyone assign me please  ;)

[2019-04-02 02:03] netochaves commented on #151
PR efetuada #189

[2019-04-02 02:58] Luanf commented on #151
Aceito o próximo! :pray:

[2019-04-02 18:54] netochaves commented on #151
Posso assumir o ` 2017-09-25-react-v15.6.2.md`?

[2019-04-03 23:36] CaiqueMOliveira commented on #151
PR disponível para revisões **Translation of Fragment Support** (#187) :v:

[2019-04-08 23:41] lucaspolizeli commented on #151
Fala galera!
Posso contribuir com o `2017-09-08-dom-attributes-in-react-16.md`?

[2019-04-09 00:57] jhonmike commented on #151
@leonascimento, @MizaelMelo e @felipemfp faz mais de 15 dias que fizeram os pedidos, se precisar de ajuda ou quiserem liberar os posts para outras pessoas traduzirem, avisem fazendo favor!! :)

[2019-04-09 01:04] CaiqueMOliveira commented on #151
Boa noite galera!!
Poderiam me atribuir a página `2017-07-26-error-handling-in-react-16.md` por favor?

[2019-04-10 00:22] thalees commented on #151
Boa noite pessoal !
Posso assumir a página `2017-06-13-react-v15.6.0.md` ? 😄

[2019-04-10 01:54] filipenatanael commented on #151
Boa noite Pessoal, Tudo bem?
Posso assumir a página `2017-05-18-whats-new-in-create-react-app.md` ?

[2019-04-10 22:32] FMichelon commented on #151
Boa noite!
Posso pegar a página `2017-04-07-react-v15.5.0.md` ?

[2019-04-10 22:40] felipe-michelon commented on #151
Boa noite!
Posso pegar a página 2017-04-07-react-v15.5.0.md ?

[2019-04-10 23:34] netochaves commented on #151
PR efetuada, toda revisão é bem vinda. #200

[2019-04-12 17:23] gustafsilva commented on #151
Posso ajudar com o post `2016-07-22-create-apps-with-no-configuration.md`?

[2019-04-12 19:51] jhonmike commented on #151
@gustafsilva  o ideal é seguir a ordem, mas como já abriu o PR não vamos barrar por esse motivo haha
mas fica a dica para a proxima :D

[2019-04-13 09:38] gustafsilva commented on #151
@jhonmike o próximo seria o ` 2016-11-16-react-v15.4.0.md`?

[2019-04-15 01:07] jhonmike commented on #151
Pessoal que quiser pegar algum post, liberei os seguintes post:
- 2018-09-10-introducing-the-react-profiler.md
- 2018-03-29-react-v-16-3.md
- 2018-03-27-update-on-async-rendering.md

Porque já faz mais de 25 dias que estão aguardando seus PRs!!

caso o pessoal que tinha pedido eles voltem a querer contribuir é só pegar o que tiver na sequência que atribuo novamente :D

[2019-04-15 03:54] netochaves commented on #151
posso assumir o `2018-09-10-introducing-the-react-profiler.md`

[2019-04-16 19:11] thalees commented on #151
Eu posso pegar o ` 2018-03-29-react-v-16-3.md` se puder :smile:

[2019-04-17 18:08] reebr commented on #151
Posso iniciar a tradução do `2018-03-27-update-on-async-rendering.md`?

[2019-04-18 00:04] tota1099 commented on #151
Posso iniciar a tradução do 2016-09-28-our-first-50000-stars?

[2019-04-18 11:18] gustafsilva commented on #151
Posso assumir o `2016-08-05-relay-state-of-the-state.md`?

[2019-04-23 16:38] IagoAugusto commented on #151
Posso iniciar a tradução do  2016-08-05-relay-state-of-the-state.md?

[2019-06-17 19:29] igorjm commented on #151
Boa tarde pessoal,

Ainda estão realizando o processo de tradução do blog?

Se sim, eu poderia iniciar a tradução 2016-07-13-mixins-considered-harmful.md?

[2019-06-18 00:45] jhonmike commented on #151
atribuído a tradução a você @igorjm

[2019-06-18 01:30] igorjm opened #238 "Translating '2016-07-13-mixins-considered-harmful.md'"
Issue #151

[2019-06-19 00:24] jhonmike commented on #238
@igorjm não precisa criar uma issue, pode apenas subir o PR com a tradução, e qualquer dúvida comenta lá, olhe alguns PRs já fechado como modelo.

[2019-06-19 11:19] igorjm commented on #238
@jhonmike entendi. Vou fechar essa então.

[2019-06-19 11:19] #238 closed

[2019-06-24 17:11] gamoridev commented on #151
Fala, galera.

Posso iniciar a tradução do **2016-07-11-introducing-reacts-error-code-system.md**.

[2019-06-24 17:29] jhonmike commented on #151
@gamoridev atribuído :metal:

[2019-06-26 11:54] jhonmike commented on #151
## Bom dia pessoal

### Posso liberar os posts listados abaixo para que outras pessoas possam assumir a tradução deles, pois, ainda não foram iniciados e já esta na lista a algum tempo:

2018-09-10-introducing-the-react-profiler.md (@netochaves) [NO PULL-REQUEST YET]
2017-09-26-react-v16.0.md (@Luanf) [NO PULL-REQUEST YET]
2017-05-18-whats-new-in-create-react-app.md (@filipenatanael) [NO PULL-REQU

[2019-06-26 14:06] reebr commented on #151
@jhonmike eu acabei esquecendo, vou dar continuidade na tradução. 😃

[2019-06-29 20:57] aranhaagency commented on #151
Gostaria de ficar com esse post 2018-09-10-introducing-the-react-profiler.md (@netochaves) [NO PULL-REQUEST YET]

[2019-07-02 02:41] lucaspolizeli commented on #151
Tinha esquecido, mas vou finalizar!

[2019-07-08 22:05] gstvribs commented on #151
Também tinha esquecido @jhonmike, irei continuá-lo, como é um MD bem grande se alguém puder ajudar também, agradeço : )

[2019-07-09 00:33] marcospedro97 commented on #151
@gstvribs se precisar de ajuda me dá um toque que eu aceito

[2019-07-09 13:00] jhonmike commented on #151
## Bom dia pessoal

### Como [comentado acima](https://github.com/reactjs/pt-BR.reactjs.org/issues/151#issuecomment-505842666) estou liberando os seguintes posts por falta de retorno:

[code]

[2019-07-16 17:06] michellocana opened #261 "Correção na tradução de "perform a side-effect" na página React.Component"
Estava lendo a documentação da página React.Component, e vi que nessa linha (https://github.com/reactjs/pt-BR.reactjs.org/blame/master/content/docs/reference-react-component.md#L287) faltou ser traduzida a expressão "perform a side effect", acho que poderíamos ajustar para
[code]

[2019-07-16 20:53] jhonmike commented on #261
@michellocana se puder abrir um PR com o ajuste agradeço, se não, assim que possível abrirei o PR

[2019-07-16 21:08] michellocana commented on #261
posso sim, deixa comigo 😄

[2019-07-19 18:15] jhonmike commented on #261
obrigado @michellocana !! vou fechar a issue pois o PR já esta na master!

[2019-07-19 18:15] #261 closed

[2019-07-23 13:52] jcserracampos opened #265 "Do not capitalize name of months"
PT: Como vocês podem ver em content/community/conferences.md, todos os nomes de mês estão capitalizados. Isto não é correto em Português.

EN: As you can see in content/community/conferences.md, all month names are capitalized. This is not correct in Portuguese.

[2019-07-24 03:53] #265 closed

[2019-07-24 18:03] jcserracampos commented on #151
Pessoal,
Sugiro transformar esta issue em um projeto.
Eu criei um board https://github.com/reactjs/pt-BR.reactjs.org/projects/1
A ideia é que cada artigo vire uma issue e que controlemos o andamento pelo Kanban.
Ficaria bem mais fácil de acompanhar.

[2019-07-24 22:46] jhonmike commented on #151
Esta funcionando bem aqui na issue, e temos todo o histórico, mas se quiser controlar pelo board tranquilo!

[2019-07-25 23:40] jcserracampos commented on #151
@jhonmike Eu estou pensando no tamanho da issue com o tempo. Acredito que fique ruim para gerenciar ao longo prazo.
Como cada artigo viraria uma issue, teríamos um processo definido de tradução com começo, meio e fim.

[2019-07-27 20:06] jcserracampos opened #270 "Translate 2017-09-26-react-v16.0.md"

[2019-07-27 20:10] jcserracampos opened #271 "Translate 2016-07-11-introducing-reacts-error-code-system.md"

[2019-07-27 20:10] jcserracampos opened #272 "Translate 2016-07-13-mixins-considered-harmful.md"

[2019-07-27 20:12] jcserracampos commented on #272
@igorjm

[2019-07-27 20:12] jcserracampos commented on #271
@gamoridev

[2019-07-27 20:12] jcserracampos opened #273 "Translate 2016-09-28-our-first-50000-stars.md"

[2019-07-27 20:13] jcserracampos commented on #273
@tota1099

[2019-07-27 20:13] jcserracampos opened #274 "Translate 2017-09-08-dom-attributes-in-react-16.md"

[2019-07-27 20:14] jcserracampos commented on #274
@lucaspolizeli

[2019-07-29 01:59] jhonmike commented on #151
sim sim, vou tentar ajudar na criação das issues com os posts que ainda não tem ninguém traduzindo ;)

[2019-07-29 17:26] jcserracampos opened #275 "Translate 2017-12-15-improving-the-repository-infrastructure.md"

[2019-07-29 17:27] jcserracampos commented on #275
@gstvribs

[2019-07-29 17:27] jcserracampos opened #276 "Translate 2018-03-27-update-on-async-rendering.md"

[2019-07-29 17:27] jcserracampos commented on #276
@reebr

[2019-07-29 17:28] jcserracampos opened #277 "Translate 2018-09-10-introducing-the-react-profiler.md"

[2019-07-29 17:28] jcserracampos commented on #277
@aranhaagency

[2019-07-29 17:28] jcserracampos opened #278 "Translate 2018-10-01-create-react-app-v2.md"

[2019-07-29 17:28] jcserracampos opened #279 "Translate 2018-11-27-react-16-roadmap.md"

[2019-07-29 17:29] jcserracampos commented on #279
@jlucfarias

[2019-07-29 17:29] jcserracampos commented on #279
PR #171

[2019-07-29 17:30] #278 closed

[2019-07-29 17:32] jcserracampos commented on #276
PR #208

[2019-07-29 17:32] jcserracampos commented on #275
PR #197

[2019-07-29 17:33] jcserracampos commented on #274
PR #198

[2019-07-29 17:33] jcserracampos commented on #273
PR #242

[2019-07-31 01:33] jcserracampos opened #280 "Translate 2017-05-18-whats-new-in-create-react-app.md"

[2019-07-31 01:33] jcserracampos opened #281 "Translate 2016-11-16-react-v15.4.0.md"

[2019-07-31 01:33] jcserracampos opened #282 "Translate 2016-08-05-relay-state-of-the-state.md"

[2019-07-31 01:33] jcserracampos opened #283 "Translate 2016-04-08-react-v15.0.1.md"

[2019-07-31 01:33] jcserracampos opened #284 "Translate 2016-04-07-react-v15.md"

[2019-07-31 19:40] reebr commented on #276
@jcserracampos pode dar assign pra mim, logo menos termino a tradução dessa postagem.

[2019-08-02 22:13] jcserracampos opened #289 "Conferências não está acentuada na sidebar"
<img width="1280" alt="Screen Shot 2019-08-02 at 19 12 38" src="https://user-images.githubusercontent.com/7038498/62401437-90595080-b559-11e9-8464-d8b40f4eeb9d.png">

[2019-08-09 20:19] GabrielBibiano opened #295 "Frase sem negação dando a entender sentido inverso"
Local: https://pt-br.reactjs.org/docs/dom-elements.html#suppresshydrationwarning

en: "React will not warn"

pt-BR: "o React te avisará"

[2019-08-09 20:56] jcserracampos commented on #295
Solved!

[2019-08-09 20:56] #295 closed

[2019-08-12 19:17] luizcieslak opened #298 "Tradução da documentação para a v16.9.0"
Arquivos que precisam de alterações:

* [versions.yml](https://github.com/reactjs/pt-BR.reactjs.org/blob/master/content/versions.yml)

Novas páginas:

* [Profiler API](https://reactjs.org/docs/profiler.html) file: `reference-profiler.md` @luizcieslak
* [React v16.9.0 and the Roadmap Update](https://reactjs.org/blog/2019/08/08/react-v16.9.0.html) file: `2019-08-08-react-v16.9.0.md` @jhonmike
* [Tes

[2019-08-13 13:30] jhonmike commented on #298
Olá @luizcieslak show, acabei de ver a sincronização do bot da documentação original com a nova(pt-br) e vi que temos mais paginas que a `Profiler API`, vou criar uma issue com todas elas e vamos converter essa para a tradução do `Profiler API`, ae vc pode seguir com a tradução da mesma sem problemas. OK!

[2019-08-13 13:41] jhonmike commented on #298
Seguinte o padrão sugerido pelo @jcserracampos  devemos criar uma issue para cada arquivo que formos traduzir!

[2019-08-13 14:26] luizcieslak commented on #298
Combinado! Será que podemos usar a #277 para a pagina da Profiler API ou crio uma nova?

[2019-08-13 14:27] luizcieslak opened #299 "Translate reference-profiler.md"

[2019-08-20 14:32] jhonmike opened #301 "Translate 2019-08-08-react-v16.9.0.md"
Vou traduzir o post React v16.9.0 and the Roadmap Update

Ref.: #298

[2019-08-20 15:30] halian-vilela commented on #301
@jhonmike

Massa jhon! Qdo terminar me dá um toque aqui para eu revisar!

Vou até me colocar como assignee!

[2019-08-20 20:14] renanmav commented on #1
Posso traduzir o post [introducing-relay-and-graphql](https://pt-br.reactjs.org/blog/2015/02/20/introducing-relay-and-graphql.html)?

[2019-08-21 02:12] jhonmike opened #302 "Translate 2015-02-20-introducing-relay-and-graphql.md"
@renanmav

[2019-08-21 02:13] jhonmike commented on #1
@renanmav pode sim, criei a issue dela aqui >> https://github.com/reactjs/pt-BR.reactjs.org/issues/302

[2019-08-27 02:06] jhonmike opened #306 "Translate 2019-08-15-new-react-devtools.md"
Post inserido no blog pela sincronização com a versão em inglês (https://github.com/reactjs/pt-BR.reactjs.org/pull/305)

[2019-08-29 19:00] luizcieslak commented on #302
Posso pegar essa tradução ou já está com alguém?

[2019-08-29 21:26] jhonmike commented on #302
então @luizcieslak era para o @renanmav traduzir esse cara, @renanmav vc esta fazendo essa tradução?

[2019-09-03 13:12] #299 closed

[2019-09-05 13:27] renanmav commented on #302
Terminei

[2019-09-05 14:16] jcserracampos commented on #302
@renanmav Foram sugeridas algumas correções.

[2019-09-06 02:10] #289 closed

[2019-09-09 16:09] #302 closed

[2019-09-12 18:36] Chiiip opened #319 "Translate testing-environments.md"
Vou começar a tradução do post [Testing Environments](https://reactjs.org/docs/testing-environments.html), que está listada aqui #298

[2019-09-13 00:32] lucianomlima opened #320 "Translate testing overview"

[2019-09-13 12:38] jcserracampos commented on #270
@lucianomlima Eu enrolei para traduzir esta.
Se alguém quiser pegar, tranquilo, se não subo até segunda.

[2019-09-14 05:46] #320 closed

[2019-09-16 01:18] #301 closed

[2019-09-18 13:22] luizcieslak opened #324 "Translate Testing Recipes"

[2019-09-18 13:22] luizcieslak commented on #298
Vou pegar a tradução de `Testing Recipes` #324

[2019-09-19 02:31] jhonmike commented on #298
Boa @luizcieslak

[2019-09-19 02:37] #273 closed

[2019-09-25 13:15] nithintel opened #327 "reactjs - Hi Please help me to add row dynamically when the user clicks add row."
Hi Please help me to add row dynamically when the user clicks add row.

Here is the code.

import React from 'react';
import { Table, Menu, Icon, Button } from 'semantic-ui-react';
import { get } from 'axios';
import times from 'lodash.times';
import { Helmet } from 'react-helmet';
import Page from '../Shared/Page';
import Popup from '../Shared/popup';
import '../../assets/css/custom.css';

const

[2019-09-25 14:44] jcserracampos commented on #327
Hello, @nithintel
This repo is for React's documentation translations.

You can use Stack Overflow to ask your question.

[2019-09-25 14:44] #327 closed

[2019-09-25 16:25] andrescalco commented on #151
Vi que `2016-11-16-react-v15.4.0.md` está disponível para tradução. Posso pegar?

[2019-09-25 19:22] jhonmike commented on #281
@andrescalco

[2019-09-25 19:22] jhonmike commented on #151
@andrescalco pode pegar ela sim, é esta issue aqui: https://github.com/reactjs/pt-BR.reactjs.org/issues/281

[2019-09-27 21:05] brunodahora commented on #306
Fala pessoal, vou começar a ajudar aqui. Vou pegar esse post pra traduzir. Xácomigo!

[2019-10-01 23:39] PatrickRNG commented on #283
Can i translate this one?

[2019-10-02 19:49] jhonmike commented on #277
@aranhaagency vc esta traduzindo esse post ou podemos assumir como disponível para traduçÃo?

[2019-10-03 03:56] luizcieslak commented on #324
@jhonmike ta saindo! pode me ajudar num termo? `Data fetching` pode ser traduzido para `Busca de dados`?

[2019-10-03 12:34] jhonmike commented on #324
Aparentemente sim, acho que vai bastante do contexto da frase, mas acho valida a tradução!

[2019-10-03 12:35] jhonmike commented on #306
Done no PR https://github.com/reactjs/pt-BR.reactjs.org/pull/331

Obrigado @brunodahora

[2019-10-03 12:35] #306 closed

[2019-10-04 16:20] evaldosantos commented on #1
Posso traduzir o post [relay-state-of-the-state](https://pt-br.reactjs.org/blog/2016/08/05/relay-state-of-the-state.html)?

[2019-10-06 19:48] jhonmike commented on #1
@evaldosantos pode iniciar a tradução, eu marquei seu nome na task de tradução do blog.

[2019-10-06 20:25] elderferreiras commented on #151
Posso pegar 2016-04-07-react-v15.md?

[2019-10-07 13:08] jhonmike commented on #282
@evaldosantos

[2019-10-07 13:11] jhonmike commented on #151
@elderferreirasd pode pegar, se quiser também tem alguns posts mais novos para traduzir, como:

- 2017-05-18-whats-new-in-create-react-app.md
- 2016-04-08-react-v15.0.1.md

qualquer coisa me avisa que altero!! mas se quiser pode traduzir esse mesmo que vc comentou sem problemas ;)

[2019-10-07 13:12] jhonmike commented on #284
@elderferreiras

[2019-10-07 13:16] jhonmike commented on #1
Galera vou fechar essa issue, e vou criar uma nova focada apenas nas novas paginas que precisam ser traduzidas 🤘

[2019-10-07 13:16] #1 closed

[2019-10-07 20:40] gustafsilva commented on #151
Posso pegar o `2017-05-18-whats-new-in-create-react-app.md`? :smile:

[2019-10-08 00:35] jhonmike commented on #151
Boa @gustafsilva, pode mandar ver!!

[2019-10-08 00:36] jhonmike commented on #280
@gustafsilva

[2019-10-08 00:37] jhonmike commented on #280
@matheuspiment

[2019-10-08 08:55] gustafsilva commented on #151
Pode sim @jhonmike :+1:

[2019-10-09 00:49] jhonmike commented on #283
@gustafsilva

[2019-10-11 14:03] brunodahora commented on #319
Fala @Chiiip você conseguiu dar sequência nessa tradução? Precisa de ajuda?

[2019-10-11 14:13] Chiiip commented on #319
Opa!

@brunodahora Então, eu já tenho uma tradução "pronta", mas que acho que requer uma revisada em alguns termos.  Acabei esquecendo de enviar para cá.

Eu fiquei em dúvida se deveria traduzir coisas como "rendering surface" e "test runner", já que eles não tinham uma tradução já definida no glossário. Na maioria dos casos, eu busquei outros blog posts que já tivessem sido traduzidos e tentei ma

[2019-10-11 18:17] brunodahora commented on #319
@Chiiip vi que abriu o PR. Melhor coisa!

Vamos fazer um review e vamos discutindo por lá as traduções.

[2019-10-17 02:43] jussarasoares commented on #151
Vou traduzir o post `2016-03-29-react-v0.14.8.md` 😉

[2019-10-22 01:22] #319 closed

[2019-10-22 12:06] reebr commented on #276
@jcserracampos @jhonmike essa issue pode ser concluída.

[2019-10-22 12:09] reebr commented on #151
Vou pegar o `2016-03-07-react-v15-rc1.md`, ok @jhonmike ? 😸

[2019-10-22 12:42] #276 closed

[2019-10-22 13:23] reebr opened #346 "Translate 2016-03-07-react-v15-rc1"

[2019-10-22 16:47] #298 closed

[2019-10-22 16:47] #324 closed

[2019-10-23 20:07] islanrodrigues commented on #151
Olá, @jhonmike
Adoraria em fazer parte da contribuição aqui.
Poderia me passar o `2016-02-19-new-versioning-scheme.md`?

[2019-10-23 20:18] islanrodrigues commented on #151
Olá, @jhonmike
Adoraria fazer parte da contribuição aqui.
Poderia me passar o `2016-02-19-new-versioning-scheme.md`?

[2019-10-24 21:30] jhonmike commented on #151
concerteza @islanrodrigues , esta atribuído a sua pessoal hehe!!

[2019-10-25 05:08] lucianomlima commented on #270
I opened a PR https://github.com/reactjs/pt-BR.reactjs.org/pull/349

[2019-10-25 05:10] lucianomlima commented on #151
Abri um PR para a 2017-09-26-react-v16.0: https://github.com/reactjs/pt-BR.reactjs.org/pull/349

[2019-10-28 15:09] mjr commented on #151
Abri um PR para o post `2016-01-12-discontinuing-ie8-support.md`: #352

[2019-10-28 17:47] mdapper commented on #151
Estou trabalhando na tradução do `2016-01-08-A-implies-B-does-not-imply-B-implies-A.md`. Em breve abro a PR.

[2019-10-28 20:52] jhonmike commented on #151
@mjr e @mdapper só vou deixar como dica para as próximas contribuições, antes de começar a traduzir alguma page ou post do blog, avisar de alguma forma, ou criar uma issue caso não tenha uma já criada, evitando que alguém traduza o mesmo documento que vcs!

[2019-10-28 20:56] mjr commented on #151
Posso traduzir essa aqui também: 2016-07-11-introducing-reacts-error-code-system.md, vi que está atribuída para @gamoridev, mas me parece que ele ainda não pode fazer.

[2019-10-28 21:35] mdapper commented on #151
@jhonmike obrigado pela dica, na verdade havia avisado aqui primeiro e comecei a traduzir. Como o post era curto acabei antes de alguém dar o OK e mandei logo a PR. Da próxima vez vou abrir a Issue primeiro :sweat_smile:

[2019-10-28 21:41] jhonmike commented on #151
tranquilo @mdapper,  @mjr era bom confirmar antes com o @gamoridev !

mas tem outros posts, mais antigos que não estão nessa lista, que podem ser traduzidos, só não estão listados porque hoje já não tem tanta relevância!

[2019-10-28 21:42] jhonmike commented on #271
@gamoridev vc vai continuar a tradução desse post? ou podemos passar para o @mjr?

[2019-10-28 21:49] mjr commented on #151
@jhonmike essa parte [Introducing Concurrent Mode (Experimental)](https://reactjs.org/docs/concurrent-mode-patterns.html) vai está disponível para tradução?

[2019-10-29 00:24] jhonmike commented on #151
Sim, o bot já enviou, logo vou adicionar as paginas novas!

[2019-10-29 02:25] jhonmike opened #356 "[New] Tradução Concurrent Mode e Release Channels"
### Novas páginas que foram adicionadas  na sincronização #351:

- [x] content/docs/concurrent-mode-adoption.md (@juliano-nune) (#376)
- [x] content/docs/concurrent-mode-intro.md (@jhonmike) (#357)
- [x] content/docs/concurrent-mode-patterns.md (@mdapper) (#360)
- [x] content/docs/concurrent-mode-reference.md (@guilhermepiovesan) (#368)
- [x] content/docs/concurrent-mode-suspense.md (@mjr) (#358)

[2019-10-29 02:26] jhonmike commented on #356
@mjr só dizer qual _page_ você quer iniciar a tradução que marco aqui hehe!

[2019-10-29 02:32] mjr commented on #356
Vou traduzir essa `concurrent-mode-suspense`.

[2019-10-30 00:27] mdapper commented on #356
Abri uma PR em WIP da tradução da página acima. https://github.com/reactjs/pt-BR.reactjs.org/pull/360

[2019-11-04 18:27] gamoridev commented on #151
Fala, galera. Não tive tempo de realizar a tradução para `2016-07-11-introducing-reacts-error-code-system.md`. Quem puder e quiser pegar para adiantar, fique a vontade! (@mjr )

[2019-11-06 13:59] jhonmike commented on #270
Done

[2019-11-06 13:59] #270 closed

[2019-11-07 14:27] juliano-nunes commented on #356
Gostaria de pegar a `concurrent-mode-adoption`

[2019-11-07 14:49] islanrodrigues commented on #151
PR aberto para `2016-02-19-new-versioning-scheme.md`: #364

[2019-11-08 00:47] #279 closed

[2019-11-12 19:28] guilhermepiovesan commented on #356
@jhonmike posso pegar a página `content/docs/release-channels.md`?

[2019-11-12 19:47] jhonmike commented on #356
pode mandar ver @guilhermepiovesan

[2019-11-12 19:49] jhonmike commented on #356
Galera na última sincronização do bot (https://github.com/reactjs/pt-BR.reactjs.org/pull/365/) veio algumas alterações nas docs que estamos traduzindo, estou pensando em dar merge nas pages que foram alteradas, mas os PRs que já fizemos precisaremos tratar os conflitos e garantir que nossas traduções estarão alinhadas com as alterações!

Estou escrevendo aqui, porque na maioria dos casos foi relac

[2019-11-13 02:10] ricardoham opened #366 "Link da página Glossário de Termos React na seção JSX"
A página de Glósario na seção [JSX](https://pt-br.reactjs.org/docs/glossary.html#jsx), os links para redirencionar para as paginas:
I**ntroduzindo JSX** e **JSX in Depth**

Consta com os link fora da marcação de hyperlink, conforme a imagem:
![glosario-jsx](https://user-images.githubusercontent.com/16308040/68726815-6a543b00-05a1-11ea-8ddc-868d2c4ef99b.png)

[2019-11-13 02:15] ricardoham commented on #366
Gostaria de saber se é possível eu contribuir para a correção? Caso se houver necessidade de um fix.

[2019-11-13 12:24] jhonmike commented on #151
Galera foi adicionado no topo da lista os últimos posts inseridos pelo bot nos PRs #362 e #365

[2019-11-13 12:30] jhonmike commented on #366
claro @ricardoham vc pode criar um PR com as correções e obrigado por reportar o erro, se não conseguir abrir o PR avisa aqui, que abrimos o PR com os ajustes!

[2019-11-13 22:41] guilhermepiovesan commented on #356
Tradução do `content/docs/release-channels.md` foi criada no PR #367

[2019-11-14 18:12] guilhermepiovesan commented on #356
@jhonmike eu poderia traduzir também o `content/docs/concurrent-mode-reference.md`?

[2019-11-14 20:32] jhonmike commented on #356
Show @guilhermepiovesan, vou anotar aqui! 👏

[2019-11-15 16:11] guilhermepiovesan commented on #356
Tradução do `content/docs/concurrent-mode-reference.md` criada no PR #368

[2019-11-18 14:30] guilhermepiovesan commented on #151
@jhonmike posso traduzir o post `2019-10-22-react-release-channels.md`?

[2019-11-19 17:41] felipeemarcon commented on #356
Alguma ainda disponível?

[2019-11-19 18:36] jhonmike commented on #356
@felipeemarcon no momento apenas os posts do blog do react, da uma olhada nesta issue > https://github.com/reactjs/pt-BR.reactjs.org/issues/151

[2019-11-23 18:53] ricardoham commented on #366
fechando a issue, fix realizado em: [371](https://github.com/reactjs/pt-BR.reactjs.org/pull/371)

[2019-11-23 18:53] #366 closed

[2019-11-26 13:14] elderferreiras commented on #151
Posso pegar `2019-11-06-building-great-user-experiences-with-concurrent-mode-and-suspense.md`?

[2019-12-02 16:52] juliano-nunes commented on #356
@jhonmike abri o PR #376

[2019-12-03 08:35] GabrielAmazonas commented on #271
@jhonmike Posso realizar a traducao desse post? =]

[2019-12-03 11:12] jhonmike commented on #271
@GabrielAmazonas pode sim, faz um bom tempo que ninguém da notícia sobre este post

[2019-12-05 13:13] jhonmike commented on #356
Done!

[2019-12-05 13:13] #356 closed

[2019-12-13 20:34] #284 closed

[2019-12-14 03:13] gustafsilva commented on #283
#379 :+1:

[2019-12-19 12:26] lcnogueira commented on #151
@jhonmike , pelo que entendi, todas as páginas da lista já estão em processo ou atribuídas para tradução. No caso, à medida que novas páginas são adicionadas ao blog, você vai liberando aqui, é isso?

[2019-12-19 13:09] jhonmike commented on #151
isso @lcnogueira na real tem alguns posts aqui que o pessoal reservou mais não fez e já faz alguns meses que esta parado, então assim que der eu ou alguém da comu precisa fazer uma curadoria rápida do status dos posts e atualizar esses cara ai encima.

Outro ponto é que tem posts mais antigos que esses que não estão na lista e vc pode traduzir também, eu não deixei eles na lista porque achei q o v

[2019-12-19 14:39] lcnogueira commented on #151
Entendi, @jhonmike . Realmente, olhando aqui os de 2016, não sei se traria valor. Acho melhor ficar acompanhando e, quando abrir novas páginas, pegar uma mais recente para ajudar. Vou ficar acompahando. Vlw :metal: .

[2019-12-26 13:16] jhonmike opened #384 "Traduzir nova pagina de Equipe"
Foi criado uma nova pagina para documentar a equipe do projeto React que foi inserida pela bot no PR #383

Quem quiser assumir a tradução é só comentar aqui na issue:

- [ ] content/community/team.md

[2019-12-26 13:36] juliano-nunes commented on #384
Posso traduzir :)

[2019-12-29 22:38] #384 closed

[2020-01-06 01:09] jhonmike commented on #151
@guilhermepiovesan e @elderferreiras precisam de ajuda para traduzir os posts? esses posts são os mais recentes seria legal conseguirmos liberar eles em pt-br!

[2020-01-06 01:25] elderferreiras commented on #151
@jhonmike voce pode liberar o post que peguei. Os ultimos dias de 2019 foram corridos e acabei nao comecando a fazer a traducao.

[2020-01-06 02:26] juliano-nunes commented on #151
@jhonmike posso fazer esse post que o @elderferreiras liberou

[2020-01-06 02:45] jhonmike commented on #151
tranquilo @elderferreiras tamo junto 🤘

pode sim @juliano-nunes 🚀

[2020-01-08 13:49] jhonmike commented on #277
PR de tradução #336

[2020-01-08 13:56] #283 closed

[2020-01-21 13:07] #280 closed

[2020-01-24 02:21] juliano-nunes commented on #151
@jhonmike se o @guilhermepiovesan liberar, posso pegar o blog `2019-10-22-react-release-channels.md`

[2020-02-04 16:08] #277 closed

[2020-02-04 16:10] jhonmike commented on #151
@juliano-nunes se tiver com tempo pode mandar bala, acho que o @guilhermepiovesan não vai responder e esse é um dos últimos post, acho valida traduzirmos!

[2020-02-04 16:29] guilhermepiovesan commented on #151
@jhonmike desculpe a ausência, tá liberado @juliano-nunes!

[2020-02-04 17:14] jhonmike commented on #151
tranquilo @guilhermepiovesan tamo junto 🤘

[2020-02-05 02:13] juliano-nunes commented on #151
@jhonmike aberto o PR #397

[2020-03-03 03:09] jussarasoares commented on #151
posso traduzir 2020-02-26-react-v16.13.0.md  ?

[2020-03-12 00:45] #346 closed

[2020-04-15 12:43] drd-2rcl commented on #282
Opa, ainda está aberta essa tradução?

[2020-06-02 14:46] DanielObara commented on #151
Vou pegar o mixins-considered-harmful.md !

[2020-06-02 18:56] FelipeAlvesSilva commented on #151
Poderia dar realizar PR para a tradução **2016-11-16-react-v15.4.0.md**?

[2020-06-02 19:04] jhonmike commented on #151
@andrescalco vou repassar a tradução para o @FelipeAlvesSilva, ok?

[2020-06-04 12:55] jhonmike commented on #151
@FelipeAlvesSilva como não tivemos retorno pode iniciar a tradução, vou transferir para o seu nome no comentário inicial da issue.

[2020-06-12 02:49] tavareshenrique commented on #151
A **2016-07-11-introducing-reacts-error-code-system.md** está livre? Se sim, gostaria de estar ajudando, por favor.

[2020-06-12 13:01] jhonmike commented on #151
@GabrielAmazonas vou repassar a tradução para o @tavareshenrique, ok?

[2020-06-16 15:00] FelipeAlvesSilva commented on #151
@jhonmike Aberta PR #426

[2020-06-16 16:34] jhonmike commented on #151
@tavareshenrique pode assumir a tradução, já que não tivemos respostas

[2020-06-20 18:24] ricardovasconcelos commented on #282
@jhonmike Posso fazer essa tradução ?

[2020-06-20 20:57] jhonmike commented on #282
acredito que sim @ricardovasconcelos, ainda não tivemos nenhum PR referente a esse post

[2020-06-24 13:55] quaresmateo opened #429 "Error translating documentation"
There is an error of verbal agreement in the translation of documentation in Portuguese.
In page: https://pt-br.reactjs.org/docs/getting-started.html
![image](https://user-images.githubusercontent.com/26655732/61001959-fd9d0b80-a336-11e9-8519-baed7834652f.png)
Where there's "um" should be "uma". In Portuguese, "visão" is a feminine noun.

[2020-06-24 14:14] #429 closed

[2020-06-25 12:36] #271 closed

[2020-06-25 16:46] #281 closed

[2020-06-26 23:54] #272 closed

[2020-06-29 14:02] FelipeAlvesSilva commented on #151
** 2017-12-15-improving-the-repository-infrastructure.md** está livre? Caso esteja ou algum outro post esteja gostaria de contribuir.

[2020-06-29 14:20] jhonmike commented on #151
@FelipeAlvesSilva tem um PR aberto com o começo da tradução, se puder comentar lá PR #197, esse PR é do @gstvribs se ele não for dar continuidade, pode seguir que marco aqui

[2020-07-30 01:31] EliezerGarbin commented on #282
Ricardo, o senhor conseguiu fazer a tradução?

[2020-07-30 02:12] ricardovasconcelos commented on #282
@EliezerGarbin Sim, estou finalizando..

[2020-08-04 02:13] #282 closed

[2020-08-14 00:25] DanielObara commented on #151
@jhonmike se for colocar o post sobre [Release Candidate React 17](https://reactjs.org/blog/2020/08/10/react-v17-rc.html) gostaria de pegar para traduzir pois já estou trabalhando em uma tradução para um post.

Valeu!

[2020-08-14 19:09] jhonmike commented on #151
heheh ok @DanielObara assim que o bot enviar as alterações te marco no PR 🚀

[2020-09-01 02:47] jhonmike commented on #151
@DanielObara o post já esta diponivel para tradução >> https://github.com/reactjs/pt-BR.reactjs.org/blob/master/content/blog/2020-08-10-react-v17-rc.md

[2020-09-11 18:45] DanielObara commented on #151
Eu estava vendo no glossário onde temos alguns exemplos de palavras a serem evitadas a tradução. Uma delas é release, acha que ficaria melhor mesmo deixar por exemplo

ao invés de:

[2020-09-13 22:56] DanielObara commented on #151
Galera, uma pergunta, como vocês traduziriam o termo 'lazy-load'? Carregamento lento?

[2020-09-14 20:10] elderferreiras commented on #151
@DanielObara Por ser um design pattern, eu diria que o certo seria nao traduzir `lazy-load`. Ate [na pagina da Wikipedia ](https://pt.wikipedia.org/wiki/Lazy_loading)o termo nao aparece em portugues.

[2020-09-15 18:00] DanielObara commented on #151
Pois é man eu achei que talvez ficasse realmente estranho traduzir lazy-load porém no glossario de tradução não consta essa palavra lá. vou adicionar depois

[2020-10-21 10:26] jhonmike commented on #151
Pessoal irei fechar a issue e assim que tiver mais novidades sobre a reestruturação da doc do React abrimos uma nova issue organizando as novas traduções, obrigado a todos que participaram do processo de tradução do blog do React 👏👏👏 🏆

[2020-10-21 10:26] #151 closed

[2020-10-26 18:12] jhonmike opened #464 "Translate 2020-09-22-introducing-the-new-jsx-transform.md"
- [x] What's a JSX Transform?
- [x] What’s Different in the New Transform?
- [x] How to Upgrade to the New JSX Transform
- [x] Removing Unused React Imports

[2020-10-26 18:15] jhonmike opened #465 "Translate 2020-10-20-react-v17.md"
- [x] No New Features
- [x] Gradual Upgrades
- [x] Changes to Event Delegation
- [x] Other Breaking Changes
- [x] New JSX Transform
- [x] React Native
- [x] Installation
- [x] Changelog

[2020-10-26 18:15] jussarasoares commented on #465
Gostaria de traduzir esse post!

[2020-10-27 03:51] jhonmike opened #466 "Translate legacy-event-pooling.md"
Nova pagina inserida na documentação na sync #463

[2020-11-05 14:50] ericp3reira commented on #465
Posso ajudar neste aqui? :)

[2020-11-09 02:57] #465 closed

[2020-11-10 20:52] #466 closed

[2020-11-10 21:00] #464 closed

[2020-12-15 18:09] andrecampll opened #475 "Andamento da tradução"
Possuo interesse em contribuir, mas não ficou muito claro na área de Projects se o projeto de tradução ainda está em andamento. Posso abrir um PR com as traduções pendentes dos dois PR's que ainda estão abertos?

Abraços!

[2020-12-16 16:44] jhonmike commented on #475
E ai @andrecampll, no momento não temos traduções disponíveis, mas temos 2 PRs que parecem abandonados, seria o caso de vc comentar lá se os donos dos PRs não estão com tempo de concluir as traduções, vc pode dar pull da branch deles e finalizar elas sem problema!!

resumindo é só mandar mensagem!!

e caso vc ache algum erro na tradução na doc já existente vc pode sim submeter um PR de correção, f

[2020-12-16 17:13] andrecampll commented on #475
Valeu @jhonmike, esclareceu bastante!!

[2020-12-16 17:13] #475 closed

[2020-12-17 07:21] eduardomoroni commented on #475
@andrecampll a equipe do React postou um blog post dizendo que eles vao trabalhar em um rewrite nas docs, a motivacao maior eh o fato de a maioria dos exemplos estarem usando class components. Acredito que em breve teremos que traduzir tudo denovo. Quando esse dia chegar, a gente provavelmente vai dividir as  paginas para pessoas traduzirem.

[2020-12-18 15:36] andrecampll commented on #475
@eduardomoroni entendi! vou ficar atento e pode contar com a minha colaboração quando isso acontecer 🚀

[2021-01-11 20:18] jhonmike commented on #274
Done in #480

[2021-01-11 20:18] #274 closed

[2021-02-12 16:08] cezaraugusto commented on #275
Resolvido com https://github.com/reactjs/pt-BR.reactjs.org/pull/482, fechando

[2021-02-12 16:08] #275 closed

[2021-02-13 15:33] pedrohyvo commented on #1
Olá pessoal, quem tiver interesse em contribuir na tradução da documentação oficial do framework cypress.io, só acessar esse [repositório aqui.](https://github.com/pedrohyvo/cypress-docs-pt-br)

[2021-07-07 11:37] bruno-ralmeida opened #524 "Translation Error (useCallback) - PT-BR"
There is an error of translation (pt-br) in the page "API Hooks (useCallback)".

The word "memorizada" is missing letter "R".

link: https://pt-br.reactjs.org/docs/hooks-reference.html#usecallback

error: useCallback retornará uma versão **memoizada** do callback.

correct useCallback retornará uma versão **memorizada** do callback.

[2021-07-08 07:06] eduardomoroni commented on #524
Opa @bruno-ralmeida beleza? Obrigado por criar o issue.
Porém nesse caso a tradução está "correta", perceba que o original é memo**i**zed e não memo**ri**zed.

https://pt.stackoverflow.com/questions/175412/o-que-%C3%A9-memoiza%C3%A7%C3%A3o
https://en.wikipedia.org/wiki/Memoization

Nesse caso eu não tenho certeza absoluta que a palavra memoizada existe no português, mas traduzir termos técnicos é

[2021-07-08 07:06] #524 closed

[2021-07-17 11:43] jhonmike opened #529 "Traduzir content/blog/2021-06-08-the-plan-for-react-18.md"
Novo post no blog do react que precisa ser traduzido

aceitamos contribuições :p

[2021-08-03 18:48] AlvaroIsrael opened #533 "Fix typo in dangerouslySetInnerHTML translation."
Do you want to request a feature or report a bug?

Bug

What is the current behavior?

There is a typo in the word `você` in brazilian portuguese. It was written as `vocẽ` as it can be seen in the last sentence of the provided image.
![image](https://user-images.githubusercontent.com/8402007/128069280-5dd57660-061c-499a-a049-a6ecb9234197.png)

What is the expected behavior?

The typo should be cor

[2021-08-12 16:06] mdapper commented on #529
Eu posso traduzir esse post

[2021-08-15 23:31] jhonmike commented on #529
Claro, manda ver @mdapper!!

só colocar um comentário aqui que estamos com problemas no deploy do site pt-br, e estamos aguardando alguém da equipe oficial do React responder, pois, não temos acesso ao sistema de deploy :(

[2021-08-16 02:07] AlvaroIsrael commented on #533
Fixed by #534.

[2021-08-16 02:07] #533 closed

[2021-08-18 23:52] #529 closed

[2021-12-06 14:03] eduardomoroni opened #555 "Tradução da documentação beta."
A documentação beta está no [AR](https://beta.reactjs.org/).  Já criaram um issue sobre o assunto em https://github.com/reactjs/reactjs.org/issues/4135 e uma discussão https://github.com/reactjs/pt-br.reactjs.org/discussions/553

**Por favor atualizem essa tabela a medida que prosseguirmos na tradução**
Precisamos de voluntários para traduzir as seguintes páginas.

├── 404.md
├── _app.tsx
├── _doc

[2021-12-08 07:39] jwandekoken commented on #555
Opa. Como posso contribuir com a tradução? (newcomer, sry xD)

[2021-12-08 09:38] eduardomoroni commented on #555
Show de bola @jwandekoken , eu atualizei o meu post ali em cima. Basicamente escolhe uma página, traduz e manda um PR.
O que eu faço no verdade é, eu uso uma ferramenta de traduçao, [Deepl por exemplo](https://www.deepl.com/en/translator), traduzo a página usando a ferramenta. Depois eu vou lendo os dois e corrigindo o tradutor.
Eu acho mais rápido e fácil, mas você pode traduzir você mesmo do zer

[2021-12-08 09:45] jwandekoken commented on #555
├── 404.md (eduardomoroni)
├── _app.tsx (fulano)
├── _document.tsx (beltrano)
├── index.md (jwandekoken)
├── community
│   ├── acknowledgements.md
│   ├── index.md
│   └── meet-the-team.md
├── learn
│   ├── add-react-to-a-website.md
│   ├── adding-interactivity.md
│   ├── choosing-the-state-structure.md
│   ├── conditional-rendering.md
│   ├── describing-the-ui.md
│   ├── editor-setup.md
│   ├── e

[2021-12-09 01:12] leonardonegrao commented on #555
├── 404.md (eduardomoroni)
├── _app.tsx (fulano)
├── _document.tsx (beltrano)
├── index.md (jwandekoken)
├── community (leonardonegrao)
│ ├── acknowledgements.md
│ ├── index.md
│ └── meet-the-team.md
├── learn
│ ├── add-react-to-a-website.md
│ ├── adding-interactivity.md
│ ├── choosing-the-state-structure.md
│ ├── conditional-rendering.md
│ ├── describing-the-ui.md
│ ├── editor-setup.md
│ ├── esca

[2021-12-16 18:22] jwandekoken commented on #555
learn - @jwandekoken

[2022-01-10 13:29] Waleryaa commented on #555
Olá! Tenho português nativo e, além disso, sou graduada em língua portuguesa, estou estudando TW e gostaria de contribuir com a tradução.

[2022-01-10 14:33] jwandekoken commented on #555
@Waleryaa, escolha uma das páginas e mete bala, o @eduardomoroni mencionou sobre o processo. Caso tenha alguma dúvida ou dificuldade de como fazer, posso te auxiliar (no processo de forkar o repo, baixar, trabalhar no arquivo e subir o PR). Qualquer coisa, só falar!

[2022-01-10 15:43] Waleryaa commented on #555
@jwandekoken Toda ajuda é bem-vinda, até porque esse será meu primeiro projeto aqui no GitHub. Obrigada pela disposição.

[2022-01-10 16:09] Waleryaa commented on #555
Vou fazer "meet-the-team.md". Não sei como colocar na planilha.

[2022-01-10 16:47] eduardomoroni commented on #555
Uma outra grande ajuda @Waleryaa seria dar uma olhada nos Pull Requests ja aberto e revisar. Certifique-se de dar uma revisao "formal", ou seja, enviar uma revisao atraves da aba 'files changed'. Assim a gente ja sabe quais podem ser mergeado.
![image](https://user-images.githubusercontent.com/823150/148804448-90d6b15f-98ff-4099-a3e4-4cd7909820d2.png)

[2022-01-10 17:24] Waleryaa commented on #555
Obrigada, @eduardomoroni! Farei isso.

[2022-01-11 18:23] Waleryaa commented on #555
Oie! Estou procurando uma nova task para fazer (aproveitando que estou de férias hahaha) e notei que algumas já foram feitas, mas não estão marcadas. É isso mesmo?

[2022-01-11 19:36] eduardomoroni commented on #555
Fique a vontade. Num deveria ter nenhuma pagina traduzida que nao esteja marcada aqui nao, Se souber quais eu ja marco aqui.

[2022-01-11 19:53] Waleryaa commented on #555
404.md
 add-react-to-a-website.md
conditional-rendering.md

São os que eu lembro.

[2022-01-12 13:39] Waleryaa commented on #555
Bom dia!
Vim com mais uma dúvida de newbie: traduzi o start-a-new-react-project. mas não estou conseguindo fazer um novo PR, só me dá a opção de ver o que já criei. Alguém pode me ajudar?

[2022-01-12 14:52] eduardomoroni commented on #555
Possivelmente é porque você está usando o mesmo branch. Só pode ter um PR
por branch aberto simultaneamente. Existem várias maneiras de resolver
isso, a que eu creio ser mais simples é dar commit e um push, do jeito que
está. O que vai acontecer é que ambas traduções vão estar no mesmo PR
(porque estarão no mesmo branch).
Git é meio complicado e é difícil explicar o que fazer sem saber "o que"
est

[2022-01-18 19:51] jhonmike commented on #555
Pessoal editei a mensagem principal e adicionei no finalzinho os novos posts do blog que estão para serem traduzidos

[2022-01-30 03:21] soutovnc commented on #555
Olá, gostaria de ajudar a tradução. Sou Brasileiro e estou estudando inglês, gostaria de contribuir pois isso deve me ajudar a aprimorar ainda mais a leitura e escrita e também revisar a documentação pode ajudar a fixar alguns conceitos da ferramenta.
Se ficarem de acordo, pretendo traduzir o usestate.md.

[2022-02-03 20:15] volinha commented on #555
Enviei a PR com a tradução do community/acknowledgements.md, se for possível atualizar na tabela @volinha #571

[2022-02-08 01:49] pedrowindisch commented on #555
enviei uma PR com a tradução da página learn/installation

[2022-04-24 16:19] vyamashiro commented on #555
Olá pessoal, tudo bem? Fiz a tradução das páginas error 404 and editor-setup no PR #589, será que alguém poderia checar ? Obrigado.

[2022-05-10 14:30] Correia-jpv commented on #555
PR #596 da página learn/managing-state
Agradeço as revisões!

[2022-09-28 19:49] Wanderson77 opened #620 "Como contribuir na tradução?"
Como proceder neste projeto?

[2022-10-27 23:57] gustarpd commented on #555
Pessoal, fiz a tradução da página add-react-to-a-website, alguem poderia fazer uma revisão?

[2022-11-06 22:40] mhcrocky opened #628 "I hope I can join this community."

[2022-11-06 22:40] #628 closed